[2015-10-08 17:33] Mantus667 opened #2 "Media Picker on People throws 401"
When clicking on the picker to select an image for a poeple object the media picker throws a 401 exception and redirect to login page.

User is still logged in to backoffice.

[2015-10-09 15:11] TimGeyssens commented on #2
Hmm when exactly does this happens (on everyclick of the file picker) seems fine here

[2015-10-13 19:32] nojaf opened #3 "Entity Framework?"
Any plans on making this work with Entity Framework instead of PetaPoco?

[2015-10-14 20:35] TimGeyssens commented on #3
Well I plan on making it a provider model so that you can switch out the controller and could create an Entity Framework one. But must say I haven't looken into entity framework that much so not sure how different it would be from the Petapoco default provider

[2015-10-14 20:35] TimGeyssens commented on #3
But that way you could also point it to othet data sources

[2015-10-14 20:49] TimGeyssens commented on #3
So you would have to implement this interface https://github.com/TimGeyssens/UIOMatic/blob/master/src/UIOMatic/Interfaces/IUIOMaticObjectController.cs

[2015-10-15 05:25] tomfulton opened #8 "Replace static "Object List" and "Object Creator" with names of objects?"
Hey Tim!  Just an idea  - when creating or editing an object, some static text is shown in the header:

![image](https://cloud.githubusercontent.com/assets/1396376/10505172/48309f56-72bf-11e5-8305-2ffb169a5dfb.png)

![image](https://cloud.githubusercontent.com/assets/1396376/10505174/50577f6a-72bf-11e5-900a-944f3bb7232b.png)

I think it might be nice for editors to see the name of the object type

[2015-10-15 06:35] nojaf commented on #3
Thanks Tim, exactly what I'm looking for.
Where would the entry point be to set the IUIOMaticObjectController?
And what is the typeName param? CLR typename?

[2015-10-15 08:05] TimGeyssens commented on #3
Still need to make the entry point, will probably be a config file where you can set the default provider, yeah typename is CLR typename so you can do Type.GetType(typeName)

[2015-10-15 08:57] TimGeyssens commented on #8
Yeah would also love to get rid of the static texts, could use the class name...

Textbox to edit the name of the object would be ace to make it even more consistent but not sure how easy/hard it would be to make it work since currently the name of the object is coming form the ToString method and can be a combination of multiple properties

[2015-10-15 09:00] TimGeyssens commented on #2
Still can't reproduce, does it still happen when you pull the latest version?

[2015-10-15 10:27] Mantus667 commented on #2
Will try with the latest version and see if it's still there.
Was on every click on the button to open the file picker

[2015-10-15 10:44] TimGeyssens commented on #2
Okido :)

[2015-10-15 10:47] TimGeyssens commented on #3
Latest commit introduces config file that allows you to specify the default object controller https://github.com/TimGeyssens/UIOMatic/commit/f2df3fa4b37585ffbf1955e0058f362b0d5a2dcb so you can now swap PetaPoco out with entity framework or you could also use different data sources

[2015-10-15 10:47] #3 closed

[2015-10-15 14:53] tomfulton commented on #8
Class name works well until it's two words ;)

Yeah, I was thinking about how to get the Name field myself.  Maybe the developer should specify which property to use as the Name field in the `UIOMatic` attribute?  Something like `NameProperty:  "Name"`?  We could also use that to decide which column is linkable in the list view

[2015-10-15 15:11] TimGeyssens commented on #8
Yeah makes sense to do it that way :+1:

[2015-10-22 13:20] plbonneville opened #9 "Child loaded before parent is done loading data"
The children controllers initialize before the parent controller is done loading the form's data.

You should add a broadcast event to your **edit.controller.js**:
[code]

Then add listeners in the **dropdown.controller.js**, **pickers.content.controller.js**, and **pickers.media.controller.js** controllers:

**dropdown.controller.js**
[code]

**pickers.content.controller.js**
[code]

**pickers.me

[2015-10-22 13:23] TimGeyssens commented on #9
Awesome, pull request would be nice :)

[2015-10-22 13:25] TimGeyssens commented on #9
well guess I can also just copy paste, thanks for contributing!

[2015-10-22 13:30] TimGeyssens commented on #2
Any luck so far with latest version?

[2015-10-22 13:32] TimGeyssens commented on #9
Fixed in https://github.com/TimGeyssens/UIOMatic/commit/aa34c5f0628d1067b3d31f63b872b6c6f679b2ac

[2015-10-22 13:32] #9 closed

[2015-10-26 21:07] Mantus667 commented on #2
Don't mind my stupid talking.
Had a look and the user wasn't allowed to see the media section. So the error was right.

[2015-10-26 21:07] #2 closed

[2015-10-27 07:22] TimGeyssens commented on #2
Ok makes sense now :) thanks for testing!

[2015-11-04 23:19] tomfulton commented on #8
Whoops - sorry for the delay :)

I just sent over a pull request that adds Umbraco-style editing of the object name, denoted by applying `[UIOMaticNameField]` to the deisred property.  It's optional in case your object doesn't have a "name".

This solves the second part of what we talked about, but there are still some cases where the static text will show.  For example, the List View still shows

[2015-11-05 13:41] TimGeyssens commented on #8
Love the UIOMaticNameField one, great work! Yeah not sure yet on the other bit, will give it some thought

[2015-11-05 23:33] tomfulton commented on #8
Thanks Tim!  I'll think on it as well, not really a big deal for now.

For the header of the List View, maybe we can just use the `Name` property from the `UIOMaticAttribute` since it looks like that's intended to be plural:
![list-uiomaticname](https://cloud.githubusercontent.com/assets/1396376/10984934/00de8720-83d2-11e5-94a3-448c969e8756.png)

Still not sure what to do for the Edit/Create scree

[2015-12-08 01:13] barryokane commented on #8
Hi guys,

I'm getting the error below in the console when I try to use UIOMaticNameField

    TypeError: Cannot read property 'filter' of undefined
    at Object.<anonymous> (edit.controller.js?cdv=1444393501:180)
    at e (angular.min.js?cdv=1444393501:70)
    at Da.| (angular.min.js?cdv=1444393501:140)
    at t.constant (angular.min.js?cdv=1444393501:69)
    at Da.| (angular.min.js?cdv=144439350

[2015-12-08 08:32] TimGeyssens commented on #8
Looks like a bug, seems like it's also happening in our example project.

[2015-12-08 08:38] TimGeyssens commented on #8
But it does seem to function even with the js error..., does it work in your case @barryokane ? Or does it fail as soon as the error pops up?

[2015-12-08 09:56] barryokane commented on #8
It didn't seem to affect the functionality, but I took out the attribute as it was making my debugging of other stuff confusing :)

Otherwise the package is working really well for me. +1

[2015-12-08 10:19] TimGeyssens commented on #8
Great :) well we'll look into the error

[2015-12-08 10:20] TimGeyssens commented on #8
@tomfulton any ideas on how to fix the bug? Haven't look that much into detail on the attribute so would be ace if you could take a look :)

[2015-12-09 01:47] tomfulton commented on #8
Hi - I think this was caused by the `filter` getting executed before `$scope.properties` is ready.  I added a null check in #15 and it looks good now :+1:

[2015-12-09 08:03] TimGeyssens commented on #8
Sweet, thanks :)

[2015-12-11 10:09] serenabenny opened #16 "Listview header is show the field name, replace to UIOMaticField name?"
![image](https://cloud.githubusercontent.com/assets/3369365/11741120/df2820d8-a031-11e5-997d-02295550962c.png)

[2015-12-22 17:48] TimGeyssens commented on #16
Yeah makes sense to update

[2016-01-03 21:25] jacerqueiro opened #18 "Dropdown doesn't get filled with foreign key. GetAll throws 500 error"
Hi Tim, great package !!!
I've been playing with it for a few days and everything worked fine until I tried to setup a property with a foreign key. Not even working with the Example Dog Property Editor. It just throws this error message

Using Umb 7.3.4 and ui-o-matic 1.6.0
Any idea what the problem could be?
Best regards

[2016-01-08 20:03] jacerqueiro commented on #18
Hi Tim, my mistake :( ... pointing to the wrong DLL.
It's working just great. Best regards

[2016-01-08 20:04] #18 closed

[2016-02-02 18:48] paulsoerensen opened #19 "Format in listview"
Would be nice to decorate the field attribute with a ex Format="dd-MM-yyyy" to format the columns in the listview. This could of course also be used for numbers etc.

[2016-02-02 18:50] paulsoerensen opened #20 "Display date in Edit view"
When editing a date it displays itself as datetime. When new date is selected it works as expected.
Great package !

[2016-02-13 15:07] serenabenny commented on #16
Fixed.

[2016-02-13 15:07] #16 closed

[2016-02-13 15:09] serenabenny commented on #19
@paulsoerensen Fixed on https://github.com/serenabenny/UIOMatic branch.

[2016-02-16 10:58] TimGeyssens commented on #19
@serenabenny any chance you can provide a pull request for that feature, would be ace  :)

[2016-02-17 10:32] serenabenny commented on #19
@TimGeyssens Too many new feature now including the branch. Like data filtering ,default filter ,  default sorting, Export to CSV file. It's difficult to split them. sorry about that. :(

[2016-02-17 10:46] TimGeyssens commented on #19
@serenabenny no worries, awesome work, will see if I can cherry pick some of the items

[2016-02-17 10:57] TimGeyssens commented on #19
@serenabenny could you maybe point me in the direction of the field format stuff (where it's located in the code)?

[2016-02-17 13:37] serenabenny commented on #19
UIOMaticFieldAttribute
public string DataFormat { get; set; }
UIOMaticPropertyInfo.cs
+
 +        public string DataFormat { get; set; }
PetaPocoObjectController.cs
+                            DataFormat = attri.DataFormat
                          };		                          };
                          yield return pi;		                          yield return pi;
                      }

[2016-02-17 13:42] serenabenny commented on #19
@TimGeyssens you can check the latest commit.I 'm not sure maybe  have some relate function.

[2016-02-17 13:57] serenabenny commented on #19
@TimGeyssens Maybe also pick up the about the list header section. I fixed that issue.

[2016-02-17 14:54] TimGeyssens commented on #19
@serenabenny ok thanks that helps :)

[2016-02-25 23:52] reights opened #21 "Section not showing up"
I installed UIOmatic in a clean web application and the section is not showing up in the back office. I added a class based on the documentation you provided

[2016-02-26 09:35] reights commented on #21
Solved myself needed to update the user sections

[2016-02-26 09:35] #21 closed

[2016-02-27 21:30] reights opened #22 "Format column header to match UIOMaticField name"
the columns are showing the property name and not the UIOMaticField name

[2016-03-15 16:30] biapar opened #23 "Which is the Visual Studio setup for use UIO-Matic?"
Which is the Visual Studio setup for use UIO-Matic after add Umbraco to an empty web solution?

[2016-03-16 09:27] madsoulswe opened #24 "System.Runtime.Serialization.DataMember overrides Uiomatic Ignore attributes"
Properties with **[DataMember]** gets included in list even if **[UIOMaticIgnoreFromListView]** is set.

[2016-03-16 09:30] madsoulswe commented on #24
FYI: I love uiomatic!

[2016-03-30 20:05] biapar commented on #23
+1

[2016-04-12 11:12] ThumNet opened #25 "File picker not working with new install Umbraco 7.4.2"
Hi Tim,

I found an issue with the file (media) picker, when using a fresh Umbraco 7.4.2 site.

![issue](https://cloud.githubusercontent.com/assets/692308/14457843/c48b9962-00ad-11e6-8b82-8d2a2c550e7f.PNG)

**Steps to reproduce:**

1. Create a new empty Web project
2. Install-Package UmbracoCms
3. Install-Package Nibble.Umbraco.UIOMatic
4. Create the sample People table and Person model
5. Go to t

[2016-04-12 14:07] ThumNet opened #26 "Introduce a Core package"
Hi Tim,

We have a specific solution structure at our company, this requires us to define the Models in a seperate Data/Models project. We'd like to use the UIOMatic inside our Umbraco project but when including the UIOMatic package the entire UmbracoCms package is installed, this is not desired.

What do you think of the introducing an UIOMatic.Core project (which only requires UmbracoCms.Core),

[2016-04-19 11:44] TimGeyssens commented on #26
Yeah makes sense! Would be ace if you could provide a pull request for it :)

[2016-04-19 11:45] TimGeyssens commented on #25
Will have a look, thanks for reporting!

[2016-04-19 11:46] TimGeyssens commented on #24
Hmm that's strange, I'll have a look! Thanks for reporting!

[2016-04-19 11:46] TimGeyssens commented on #23
Just add UI-O-Matic using nuget and then add your models where you want...

[2016-04-19 11:46] #23 closed

[2016-04-19 11:46] TimGeyssens commented on #22
Yup currently they do, would be nice to show the name instead

[2016-04-19 14:12] ThumNet commented on #26
Pull request created as requested :)

[2016-04-19 21:39] ryanology opened #28 "UiOMatic not showing up in the backoffice"
Hi Tim,

I installed the nuget package but unfortunately it is not showing up in the backoffice.  Not getting any console errors or tracelog errors.  We are using UaaS, but this current issue happens on my local version (cloned from UaaS).  The current Umbraco version is 7.4.3.  Also want to note that I have the Umbraco website in one project, and all of the models/controllers/etc. in another proj

[2016-04-20 08:41] ThumNet commented on #28
Hi Ryan,

I had the same issue, have you given the backoffice user access to the new UI-O-Matic section?

Regards,
Jeffrey

[2016-04-20 13:46] ryanology commented on #28
Thanks a bunch Jeffrey, that did the trick. I'm an admin so that didn't cross my mind (yet it's so simple).

[2016-04-20 13:46] #28 closed

[2016-04-29 02:53] serenabenny commented on #22
@reights Find the soulation at https://github.com/serenabenny/UIOMatic2

[2016-05-04 02:00] pseudyx opened #29 "Foreign Keys in list view with dropdown"
Hi, I have followed the solution "Foreign Keys with Label view" on umbraco.org:
https://our.umbraco.org/projects/developer-tools/ui-o-matic/computer-says-no/73973-foreign-keys-with-label-view

to enable foriegn key values. But I'm not having any luck... the only difference is, the fields are dropdown fields.

I have added a comment to the above link... but essentially all I'm trying to do is show

[2016-05-16 16:02] moytho commented on #19
I'm trying to decorate my DateTime fields atribute with Format="dd-MM-yyyy" to format the columns in my listview, is this feature released already? do you have a short snippet of how I can use it in my class?

[2016-05-16 18:33] TimGeyssens commented on #19
Nope haven't merged that in, but you can use the branch from @serenabenny https://github.com/serenabenny/UIOMatic

[2016-07-14 09:07] #25 closed

[2016-07-14 09:08] TimGeyssens commented on #25
Fixes in latest commit (and version 1.7.2)

[2016-07-14 09:08] TimGeyssens commented on #29
Not an issue, will respond on the forum

[2016-07-14 09:08] #29 closed

[2016-07-14 09:13] TimGeyssens commented on #24
Hmm can't reproduce atm, mind sending me an example class?

[2016-07-14 09:15] TimGeyssens commented on #22
@serenabenny mind pointing me to the files that I need in order to get this feature in UI-O-Matic?

[2016-07-14 10:23] HarveyWilliams opened #35 "Ignored fields still being queried."
I have a model which looks something like:

[code]

When I run a search for the name of the product in the backoffice of UIOMatic, the following error occurs:

[code]

It appears that the Images column is being searched. This property does not exist in the Products table (as the model property is decorated with `[Ignore]`, and is used to assign rows from another database table which has informatio

[2016-07-14 10:59] TimGeyssens commented on #35
Thanks for the details, will have a look

[2016-07-14 11:08] TimGeyssens commented on #35
Ok think I fixed it, will release a new version (1.7.3) later today, you can then just upgrade with nuget

[2016-07-14 11:08] #35 closed

[2016-07-14 11:09] HarveyWilliams commented on #35
Wow. Super response time. My client will be happy. Thanks Tim!

I'll post here once it's tested.

[2016-07-14 11:15] TimGeyssens commented on #35
@HarveyWilliams 1.7.3 is out https://www.nuget.org/packages/Nibble.Umbraco.UIOMatic/ , please let me know if that does the trick! Cheers, Tim

[2016-07-14 11:46] HarveyWilliams commented on #35
@TimGeyssens I tried updating to 1.7.3, but I got an error. It seems the error happens on 1.7.1 and 1.7.2 as well.

Clicking on one of the tree items causes this error:

[code]

If I then refresh the page, I get this error:

[code]

[2016-07-14 11:49] TimGeyssens commented on #35
@HarveyWilliams hmm did you clear your browser cache (might be due to running old js on new code)? I'll give it a go

[2016-07-14 11:51] HarveyWilliams commented on #35
@TimGeyssens Ctrl-F5 has no effect. I also have the dev tools open with caching disabled.

Tested in both Firefox and Chrome.

[2016-07-14 11:51] HarveyWilliams commented on #35
@TimGeyssens What version of Umbraco are you testing on?

[2016-07-14 11:52] TimGeyssens commented on #35
@HarveyWilliams older version but will do an install/upgrade on the version you have to see what might be causing it

[2016-07-14 12:16] TimGeyssens commented on #35
So testing this on umbraco 7.4.1 with UI-O-Matic 1.7.0 I get the issue you first reported (the search doesn't work)
<img width="976" alt="screen shot 2016-07-14 at 14 15 45" src="https://cloud.githubusercontent.com/assets/2988648/16839117/9354e65a-49cd-11e6-8396-2b99ac3e35cd.png">

[2016-07-14 12:19] TimGeyssens commented on #35
Now after a successfull upgrade to latest 1.7.3 I do get the 2 errors you mention, looking deeper into them

[2016-07-14 12:23] TimGeyssens commented on #35
K think I found it was some missing files in the nuget package due to moving them to a new location

[2016-07-14 12:27] TimGeyssens commented on #35
waiting for nuget to index the new package ... then you should be able to run with v1.7.4

[2016-07-14 12:31] TimGeyssens commented on #35
@HarveyWilliams can you give it another test (nuget upgrade) just did it myself and it appaers to work
<img width="976" alt="screen shot 2016-07-14 at 14 31 12" src="https://cloud.githubusercontent.com/assets/2988648/16839493/a3966302-49cf-11e6-9a51-bfc3c1df1e6f.png">

[2016-07-14 15:25] HarveyWilliams commented on #35
@TimGeyssens Some tables are rendering properly, but on one I'm getting a type error. I'll see if there's some problem with my POCO before posting here.

On an unrelated point, do all tables require there to be an Id field?

[2016-07-14 15:34] HarveyWilliams commented on #35
@TimGeyssens I figured out the error. My local POCO had an Id field with type of "string". Changing it to "int" fixed this problem.

If the Int was a string, the following error would return from the `/umbraco/backoffice/UIOMatic/Object/GetPaged/` surface controller:

[code]

[2016-07-14 18:47] TimGeyssens commented on #35
@HarveyWilliams ok thanks for the details but the original bug is fixed right? Cheers, Tim

[2016-07-14 19:00] TimGeyssens commented on #35
@HarveyWilliams yeah guess that error happens because the db type and the property type don't match

[2016-07-15 08:21] TimGeyssens opened #36 "Search and sorting not working when overwriting the query in BuildedQuery event"

[2016-07-15 08:23] HarveyWilliams commented on #35
@TimGeyssens Yes the original bug is fixed! Thanks again for the help.

[2016-07-15 08:26] TimGeyssens commented on #35
@HarveyWilliams ace, thanks for confirming!

[2016-07-15 12:30] TimGeyssens commented on #36
Fixed in 1.8.0

[2016-07-15 12:30] #36 closed

[2016-07-18 10:01] serenabenny commented on #22
@TimGeyssens

For list.controller.js
![image](https://cloud.githubusercontent.com/assets/3369365/16911453/24413984-4d11-11e6-80a3-022515e97267.png)

![image](https://cloud.githubusercontent.com/assets/3369365/16911489/58d0f3ce-4d11-11e6-8ff6-b4d51305ed42.png)

For list.html
![image](https://cloud.githubusercontent.com/assets/3369365/16911522/89b3e014-4d11-11e6-99b6-274078848366.png)

[2016-07-18 10:02] TimGeyssens commented on #22
@serenabenny awesome thanks for the details!

[2016-08-18 00:03] asempf opened #37 "DateTime picker with time"
the date time picker with time, when displaying existing value is displaying incorrect time.

EG
Database record: "2016-08-17 06:00:00.000"
displaying in editor as "2016-08-17 16:00:00"

![image](https://cloud.githubusercontent.com/assets/21031042/17757550/e7db30ee-652a-11e6-841a-66702899dcec.png)

[2016-08-18 02:16] asempf commented on #37
we are in +10 timezone (Australia)... so I assume it is adding the +10 offset... but how can we stop the offset from being added to datetimes that already exist when being displayed through the picker?

[2016-08-19 13:29] TimGeyssens commented on #37
Thanks for reporting, will try to take a look soon (of if you feel up to the challenge feel free to make a pull request :) )

[2016-10-06 09:03] TimGeyssens commented on #37
Think I fixed it, rolling out a new version today

[2016-10-06 09:05] #37 closed

[2016-10-06 09:06] pseudyx commented on #37
Awesome...  I will update and test. Thank you

[2016-10-06 09:08] TimGeyssens commented on #37
New build is running now so you should be able to upgrade to version 1.8.1 shortly (make sure to clear browser cache since it's a js file change)

[2016-10-12 08:01] TimGeyssens opened #38 "Give admins access to UI-O-Matic section on installation"
So you don't have to manually give your admin user the correct permissions

[2016-10-12 08:03] TimGeyssens opened #39 "Add ui localization keys on installation"
Add the necessary keys on install.

[2016-10-12 08:06] TimGeyssens commented on #19
Plan is to have this in version 2, you'll be able to setup a list view view, so that goes even further then a simple format, kudos to Matt since he is making this possible https://github.com/mattbrailsford/UIOMatic

[2016-10-12 08:06] TimGeyssens commented on #24
@madsoulswe still having this issue? Mind sending me an example model?

[2016-10-12 08:08] TimGeyssens commented on #26
Sorry haven't merged this in yet, plan is to do so in v2 coming shortly

[2016-10-17 07:27] TimGeyssens opened #41 "Dropdown prop editor doesn't seem to set correct state after save"

[2016-10-17 07:33] #41 closed

[2016-10-17 08:16] TimGeyssens opened #42 "Make it possible to hide a UI-O-Matic model from the tree"
In case you just want to use it as prop editor and not have it in the backoffice

[2016-10-17 08:32] TimGeyssens commented on #24
Closed for now since I can't reproduce

[2016-10-17 08:32] #24 closed

[2016-10-17 08:41] #39 closed

[2016-10-17 08:41] #38 closed

[2016-10-17 08:43] TimGeyssens opened #43 "Use data annotations for validation instead of custom interface and validate member"

[2016-10-17 08:47] #42 closed

[2016-10-17 15:05] TimGeyssens opened #44 "Add Deleting Deleted Events to PetaPocoObjectController"

[2016-10-17 19:04] TimGeyssens opened #45 "Content/Media/Members picker throw an error on init"

[2016-10-17 19:05] #45 closed

[2016-10-20 14:56] jonathanS8080 opened #47 "How do you get an Icon in the Applications panel in Umbraco CMS?"
How do you get an Icon in the Applications panel in Umbraco CMS?

[2016-10-20 15:13] TimGeyssens commented on #47
Completely custom one or one from the Helveticons icons pack used in Umbraco?

[2016-10-20 15:13] #47 closed

[2016-10-20 15:15] jonathanS8080 commented on #47
I had i working in Umbraco 7.4.3 and now I have upgraded to 7.5.4 the icon is missing and i cant for the life of me work out why it has disappeared.

[2016-10-20 15:18] TimGeyssens commented on #47
Well it fetches it from the applications.config, you can either set it to a custom file or use one of the Helveticons

[2016-10-20 15:19] jonathanS8080 commented on #47
If I navigate to /uiomatic in the CMS it redirects me back to the content page.

[2016-10-20 15:21] TimGeyssens commented on #47
Did you clear your browser cache after the upgrade?

[2016-10-20 15:22] jonathanS8080 commented on #47
I did a clientDependency tweak and webconfig tweak - do i need to do anything else?

[2016-10-20 15:24] jonathanS8080 commented on #47
Yep - I have just tried that too.

[2016-10-20 15:25] jonathanS8080 commented on #47
Is it possible to re-install it through the Packages panel in the CMS?

[2016-10-20 15:27] TimGeyssens commented on #47
Nope since it isn't a Umbraco package, it's only available trough nuget

[2016-10-20 15:28] TimGeyssens commented on #47
So in package manager console you could type Update-Package -reinstall Nibble.Umbraco.UIOMatic

[2016-10-20 15:28] jonathanS8080 commented on #47
I'll give that a go :)

[2016-10-20 16:05] jonathanS8080 commented on #47
Im really sorry for wasting your time - The tick box in the User Profile page was unticked for UIOMatic. Ticking it made it visible again.
Thanks for all your help,
Jon

[2016-10-20 16:10] TimGeyssens commented on #47
No worries glad it is sorted :)

[2016-10-20 16:26] jonathanS8080 commented on #47
Could I quickly ask? What populates the Name [sections_uiomatic] with the correct Title in the /uiomatic page?

[2016-10-21 04:17] TimGeyssens commented on #47
Sure well it comes from the config/lang/en.xml file, in the sections element.

[2016-10-22 14:23] #20 closed

[2016-10-22 20:02] TimGeyssens commented on #26
Part of Matts pull request https://github.com/TimGeyssens/UIOMatic/pull/48

[2016-10-22 20:02] TimGeyssens commented on #22
Part of Matts pull request https://github.com/TimGeyssens/UIOMatic/pull/48

[2016-10-22 20:02] TimGeyssens commented on #19
Part of Matts pull request https://github.com/TimGeyssens/UIOMatic/pull/48 (you can then also have a view for the list view fields)

[2016-10-23 20:11] #44 closed

[2016-10-23 20:11] #26 closed

[2016-10-23 20:11] #19 closed

[2016-10-23 20:11] TimGeyssens commented on #8
Possible in v2

[2016-10-23 20:11] #8 closed

[2016-10-23 20:43] #22 closed

[2016-10-24 07:08] mattbrailsford commented on #43
Implemented in commit 4a75cc261745f72aea609c8913d895d8d7dac9b7

[2016-10-24 07:08] #43 closed

[2016-10-24 07:12] mattbrailsford commented on #42
Is this so you can just have database values in a dropdown as a property editor without having an actual UI-O-Matic UI for it? Wondering if in that case, something like nuPickers wouldn't be a better solution? Just feels a bit "against the grain" that you would tell a model to be UIOMatic, but then tell it not to be editable via UIOMatic if you see what I mean?

[2016-10-24 07:15] mattbrailsford commented on #42
The only other reason I could see (which may actually be valid) is if you don't want it to appear in the tree, but want it listable / editable via a "list" field view to mimic a kind of "Nested Listview". Would this be a valid use case? and have you tested this would work? If so, then I could see the value in it for this.

[2016-10-24 07:38] TimGeyssens commented on #42
Well it was due to a feature request I got, the folks had a lot of foreign key tables with only key/value that didn't need to be editable in the backoffice, but yeah the scenario that you provide would also be valid

[2016-10-24 14:00] TimGeyssens opened #50 "Should the default prop order by a-z or by order they appear on model"
Since it seems in v2 beta default they are ordered a-z unless you specify an order.. but to avoid having to specify the order it might be nice to have them ordered as they appear on the model

[2016-10-24 14:07] mattbrailsford commented on #50
The problem is we use reflection to get a list of properties and the GetProperties method is not guaranteed to give you the properties in declaration order. I'm pretty sure I implemented the order param because I saw my properties moving around when .NET was returning property info in a different order (it's also tricky once you start having POCO's with inheritance).

[2016-10-24 14:08] TimGeyssens commented on #50
Ok fair enough :)

[2016-10-24 14:09] mattbrailsford commented on #50
We had a similar thing in Ditto with using attributes, we have to declare an Order param. It's ugly I know, but it's the only guaranteed way you can ensure an order.

[2016-10-24 14:14] TimGeyssens commented on #50
True haven't thought of inheritance

[2016-10-24 14:36] mattbrailsford commented on #50
Just had a quick look round, and might have found a bit of a solution (i did come across this with ditto, but wouldn't work for us then, but might work for us here).

[CallerLineNumber] can be used to get the current line number of the piece of code running so we may be able to use that to pre-populate the order property. I'll have a play tonight and see if it could work. It still wouldn't work fo

[2016-10-24 16:25] TimGeyssens opened #51 "Nuget readme doesn't seem to be included anymore"
in v2 beta Nuget doesn't seem to open a readme anymore after installation

[2016-10-24 16:26] TimGeyssens opened #52 "V2 Docs need updating"
Since there are quite a few differences that need to be documented and of course all the new bits

[2016-10-24 16:51] mattbrailsford commented on #50
Ok, so this works using [CallerLineNumber], I just want to check what you think. The way this works is that it detects the line number of the attribute in the code and sets the order property of that field to that line number so you end up with values like 22, 34, 47, etc (ie, not sequential). This all works fine if you don't define any values for Order at all, but if you do define an Order (or yo

[2016-10-24 17:01] mattbrailsford commented on #51
Fixed in commit 700e404

[2016-10-24 17:01] #51 closed

[2016-10-24 17:57] TimGeyssens commented on #50
Yeah I think that sounds pretty good :) For small models you won't bother with the order but once you have a bigger one (with tabs and all) you'll start looking into ordering... Ace!

[2016-10-24 18:29] mattbrailsford commented on #50
Cool, committed code :)

[2016-10-24 18:29] #50 closed

[2016-10-25 08:19] TimGeyssens opened #53 "V2 Multi Picker Prop Editor doesn't seem to work anymore"
Not getting any results back and when you search you get an error

INNER EXCEPTION

System.Data.SqlServerCe.SqlCeException: The column name is not valid. [ Node name (if any) = ,Column name = a ]

[2016-10-25 08:25] mattbrailsford commented on #53
I think this and the search dialog is one of the elements I've neglected to keep up to date so yea, probably needs looking at.

[2016-10-25 08:26] TimGeyssens commented on #53
Yup I'll take a look :)

[2016-10-25 08:48] #53 closed

[2016-10-25 08:50] TimGeyssens opened #54 "V2 Multi Picker prop editor can use some styling"
Looks kinda like a prototype atm, could use some TLC

[2016-10-25 14:42] TimGeyssens opened #55 "Introduce a provider model for list actions"
Just an idea, but a way to have other actions then just delete available in the list view (and folks can plug and play custom ones by just working with a provider model)

[2016-10-25 14:46] mattbrailsford commented on #55
I was pondering something similar as in a previous project using something similar to UI-O-Matic I added an "import" button so could be cool to allow something like this. Just need to think how it will all work visually (don't want to end up with tons of buttons across the top).

[2016-10-25 14:49] TimGeyssens commented on #55
True, and you can have global actions like import/export and then record specific actions (visible once you select 1 or more objects), so would definitely need a clean UI

[2016-10-25 19:53] TimGeyssens opened #56 "Scaffolding date/datetime properties"
Seems these get a min date value but then can't save object with those values

[code]

[2016-10-25 20:06] TimGeyssens opened #57 "Make it easier to get an overview of all field views that are available in code"
Enum, public static readonly fields, ... not sure what is best here?

[2016-10-25 20:34] TimGeyssens opened #58 "Angular Broadcast doesn't seem to work on the object editor"
The list editor does a broadcast when the data is loaded so child controller can listen to this but it appears to not work anymore

[2016-10-25 20:42] #58 closed

[2016-10-25 20:47] TimGeyssens opened #59 "Can't submit an empty date/datetime value"
[code]

[2016-10-25 20:52] TimGeyssens commented on #59
FIxes in commit  8c46140725de415b48c6d9d6b7b6f5b297515d07

[2016-10-25 20:56] TimGeyssens opened #60 "Move the rte field editor standard buttons to config file"
Currently it's hardcoded in the controller, would be nice if it's easy to change

'preview', '|', 'undo', 'redo', '|', 'copy', 'cut', 'paste', '|', 'bold', 'italic', '|', 'link', 'unlink'

[2016-10-25 20:58] TimGeyssens opened #61 "Add a formatted string list view view"
Config option would be the format

[2016-10-25 21:08] TimGeyssens commented on #59
Must be due to change https://github.com/TimGeyssens/UIOMatic/commit/e345920b2242e29a97f9346ff7d722435b11d619 not sure how best to fix @mattbrailsford , or should a datetime property be marked as nullable if it's not mandatory?

[2016-10-25 21:13] TimGeyssens opened #62 "Field view controllers, check for duplicate init calls"
Now that the broadcast is working again it seems several controllers call the init method to quickly

[2016-10-25 21:17] TimGeyssens opened #63 "Having the same alias twice doesn't throw an error"
If you use the same alias on 2 models it doesn't show an error, but you get 2 items in the tree but they both seem to go to the same model

[2016-10-25 21:55] mattbrailsford commented on #61
Wonder if this could be a config option on the label view rather than a
whole new view?

[2016-10-25 21:56] mattbrailsford commented on #59
Assign to me and I'll take a look at best option

[2016-10-26 04:51] akeilox opened #64 "Blob support"
I played with the very first UIOMatic and now starting to pick where I left after the 2.0 goodness.

In a test db, i have two tables where image is stored in base64 encoded in tableA and byte[](no need for encoding) in another (tableB).

My question is how can I render the image in the ListView for base64 or byte[] for the View section?
Like when user click Tree item A, they see the  listview with

[2016-10-26 06:14] TimGeyssens commented on #61
Ah yes even better :)

[2016-10-26 06:49] #57 closed

[2016-10-26 07:07] mattbrailsford commented on #61
What kind of things are we wanting to do with formatting? Just format the value like a currency or something? or are you wanting to be able to access other property values and merge them?

[2016-10-26 07:10] TimGeyssens commented on #64
Hey, those views only store a path to a file blobs are currently unsupported but I'll take a look and see if it's something we can easily add

[2016-10-26 07:18] TimGeyssens commented on #61
My idea was to allow it to format like a currency or a date in a specific format

[2016-10-26 07:19] #63 closed

[2016-10-26 07:20] mattbrailsford commented on #62
Which ones are firing too quickly?

[2016-10-26 07:23] TimGeyssens commented on #62
Need to check but I've seen that a couple have this code:

[code]
So I think the first init() call can be removed since it is best to wait until the values have loaded

[2016-10-26 07:24] TimGeyssens commented on #62
But I can take a look at this one :) will test if they all work

[2016-10-26 08:10] mattbrailsford commented on #59
@TimGeyssens do you have a specific reason for offsetting DateTime values in edit.controller? I'm thinking this might be best off moved to the date field editors as then we can check the true value passed down which would be 0001-01-01T00:00:00, where as currently, the offsetting code is giving it a local offset so harder to compare later on.

[2016-10-26 08:35] TimGeyssens commented on #59
Ah yes good idea, that should be the way forward

[2016-10-26 13:36] TimGeyssens commented on #56
Reverted the changes since the date(time) I was checking on depended on my timezone

[2016-10-26 13:36] TimGeyssens commented on #56
So when scaffolding it should just get an empty value

[2016-10-26 13:44] mattbrailsford commented on #56
I'll address this in the other issue, but it's probably get DateTime.MinValue. I was thinking about this, and it'll work with DateTime? (nullable) having an empty value, but I think it should be possibele / allowed that your model says DateTime (requiring a value) and the UI should provide it, so we do need a way of handling "un set" values, but like I say, I'll handle that.

[2016-10-26 13:46] TimGeyssens commented on #56
Okido, awesome, looking very good for the rest, hard to find bugs any bugs 👍

[2016-10-26 13:47] mattbrailsford commented on #59
@TimGeyssens can  you explain what the DateTimeOffset field editor is for?

[2016-10-26 13:51] TimGeyssens commented on #59
was added by @camaya , care to share some more info @camaya ?

[2016-10-26 13:53] mattbrailsford commented on #56
Closing as will get fixed as part of issue #59

[2016-10-26 13:53] #56 closed

[2016-10-26 14:17] TimGeyssens opened #65 "Should we update the look and feel of the list view editor to the latest Umbraco List View prop editor styling"
Since it was already based on that but on an older version...

[2016-10-26 14:22] TimGeyssens commented on #65
So update to this styling
![Image of Umbraco List View](https://s12.postimg.org/o5qqw090b/Screen_Shot_2016_10_26_at_16_11_19.png)

[2016-10-26 14:24] mattbrailsford commented on #65
Depends what versions of Umbraco we need to support. Personally I need to use it on a 7.3.3 install which was before this UI was used so we couldn't use their markup if we did. This is the problem with the back office UI changing so much :(

[2016-10-26 14:25] mattbrailsford commented on #65
oops, didn't mean to close the issue :)

[2016-10-26 14:26] TimGeyssens opened #66 "Should we move the create button to the top right"
To follow the Umbraco convention, would also allow us to plug in additional actions (of course it would only be a single button in case you don't have additional actions)

![Image of Content Editor](https://s12.postimg.org/m2gboc97h/Screen_Shot_2016_10_26_at_16_10_50.png)

[2016-10-26 14:31] TimGeyssens commented on #65
Ah yeah makes sense :) Not a priority works fine with the current layout

[2016-10-26 14:33] TimGeyssens commented on #60
Also make it easy for custom editors to read from the config, providing a config resource

[2016-10-26 15:43] mattbrailsford commented on #61
Perfect! The easier one :)

[2016-10-26 15:46] mattbrailsford commented on #62
Gotcha!

[2016-10-26 16:17] TimGeyssens commented on #61
Would be cool if it also supports custom filters so you could write one for a timestamp that would use moment and would say 17 minutes ago

[2016-10-26 16:24] mattbrailsford commented on #66
Are you referring to the list view? If so, umbraco still has the create button above the grid top left no? That "actions" box is usually to do with complimentary actions. Might be a good away to have third parties provide custom actions though, like "export as csv" or "import from xyz"?

[2016-10-26 16:26] mattbrailsford commented on #61
Hmm, I might just let it support angular filters then so you could do "value|mytimefilter" and it would apply the angular filter to the value. That way you could write filters for anything.

[2016-10-26 16:26] TimGeyssens commented on #66
Yup would be a good location for that

[2016-10-26 16:27] TimGeyssens commented on #61
Yup think that makes sense

[2016-10-26 16:28] mattbrailsford opened #67 "Convert template fields to use angular syntax"
There are places we ask people to provide a template for a label which is usually in the format

    Field1 + " " + Field2

We should change it to support angular syntax

    {{Field1}} {{Field2}}

[2016-10-26 16:30] mattbrailsford commented on #60
Why would other editors need to access it? I say keep it internal / restricted till someone requests it, that way you don't end up supporting too many edge cases

[2016-10-26 16:32] TimGeyssens commented on #60
Yeah true, not needed

[2016-10-26 16:32] TimGeyssens commented on #67
Good idea and consistent with some other packages so 👍

[2016-10-26 18:58] #61 closed

[2016-10-26 22:41] camaya commented on #59
The DateTimeOffset field is what you should use when you use the DateTimeOffset type on SQL Server. It should be handled different than a normal DateTime. You can find the technical details on the commits https://github.com/TimGeyssens/UIOMatic/pull/40/commits

[2016-10-26 22:51] camaya commented on #59
@mattbrailsford I think is a great idea to merge the date and the datetimeview, though I'd keep the datetimeoffset separated because I think it's unique enough and the code would end up with if/else everywhere (even if it's short). I suggest moving the config object to a constant so you can inject it on both controllers.

[2016-10-27 07:14] mattbrailsford commented on #59
Ok, I think I can get it to handle all 4 without much bother so if you want to end/disable time picking you can configure

    { picTime:true/false }

If you want to store the time as UTC time in the DB (it will display as local time to the user), you can configure

    { storeUtc:true }

And if you want to store the UTC offset for DateTimeOffset fields you can configure

    { storeUtcOffset:true

[2016-10-27 07:16] TimGeyssens commented on #59
@mattbrailsford for me it makes sense since the different date(time) pickers use pretty much the same code, so go for it :) @camaya would it work in your case?

[2016-10-27 07:24] TimGeyssens opened #68 "Check the paging controls on the list view"
If I remember correct they could use some TLC when you have a lot of pages

[2016-10-27 07:27] mattbrailsford commented on #59
And as soon as I mention it, I find a way :)

So I can now have separate views for them all but they all just reuse the same datetime view / controller and I'll make the controller smart enough to figure out which flags to set :)

[2016-10-27 07:28] TimGeyssens commented on #59
Awesome :)

[2016-10-27 07:42] mattbrailsford commented on #59
Code pushed up in commit d4b78b5 so we should be able to close this down now :)

[2016-10-27 07:42] #59 closed

[2016-10-27 07:44] mattbrailsford commented on #62
I think we may need to allow multiple calls because I have noticed some views not initializing on load. What I think is happening is that some of the views are loading in after valuesLoaded is fired so when they do finish loading in, nothing triggers the initialization.

As scopes are inherited and editors should be children of the edit controller, maybe we should set a variable to say valuesLoade

[2016-10-27 07:49] TimGeyssens commented on #62
Yeah could be a good option, just in the progress of another test round, will check all of the editors and report back

[2016-10-27 08:03] mattbrailsford commented on #62
Just to add to this, we should probably look at making sure we remove the event listeners on destruction, and probably after the first run too, so something like this

    var removeValuesLoadedListener = $scope.$on('valuesLoaded ', function()
    {
        init();
        removeValuesLoadedListener();
    });

    $scope.$on('$destroy ', function()
    {
        removeValuesLoadedListener();

[2016-10-27 08:28] TimGeyssens opened #69 "Add Relative date filter"
Mainly to serve as an example for custom filters

[2016-10-27 08:34] #69 closed

[2016-10-27 09:45] TimGeyssens opened #70 "Show an in progress indicator when you are saving/creating a new object"

[2016-10-27 09:54] TimGeyssens commented on #68
Yup since now it is just one long list

![](http://s14.postimg.org/am42uirdt/Screen_Shot_2016_10_27_at_11_52_33.png)

[2016-10-27 13:22] TimGeyssens opened #71 "Easier way to create static lists"
Currently you have to create a custom field editor

https://our.umbraco.org/projects/developer-tools/ui-o-matic/computer-says-no/77820-static-drop-down-list

[2016-10-27 13:45] TimGeyssens commented on #71
THis would be ideal I think [UIOMaticField(View = UIOMatic.Constants.FieldEditors.RadioButtonList, Config = "{'prevalues':'a,b,c'}")]

So config with prevalues or config with another type

[2016-10-27 13:52] mattbrailsford commented on #71
My only concern is that it starts to make the attributes config really bulky. Technically all of this is possible anyway, it just takes someone to write it, but I kinda like the separate view option as it's much easier to read in a separate file.

[2016-10-27 13:54] TimGeyssens commented on #71
Yeah haven't thought it trough but indeed if you have lots of prevalues the attribute will become massive

[2016-10-27 13:54] #71 closed

[2016-10-27 14:34] TimGeyssens commented on #55
Jus thinking out loud here, a global action (like export) could just consist of an alias, name, location to view (dialog that would open for each one) and the types you wish to have it available on (if not supplied it will be available on all)...

[2016-10-27 14:41] mattbrailsford commented on #55
I haven't thought it through myself yet, but I was thinking something like having an Action base class, and on the UIOMatic attribute maybe have an ActionTypes[] property which lists the actions you want to allow on that type. The Action type then exposes whatever we need.

I guess we should think of the different types of actions, as "Export to CSV" could probably work without needing a dialog, w

[2016-10-27 14:44] mattbrailsford commented on #55
Just for reference, this is what you would add to a DEWD config to add a custom button

    <button type="TableButton" icon="import.png" text="Import Gallery Items" onClientClick="UmbClientMgr.openModalWindow('/App_Plugins/GalleryItemImporter/GalleryItemImporter.aspx?Event=tdf', 'Import gallery item', true, 600, 400);return false;" />

[2016-10-27 14:45] TimGeyssens commented on #55
Ok so in that case it also just opens a third party window.

Export could be in different formats so that could need a dialog

[2016-10-27 14:48] TimGeyssens commented on #55
But yeah would indeed be better if you define the actions on the UIOMatic attribute

You could also have like a report, that shows nice charts and all

[2016-10-27 14:50] mattbrailsford commented on #55
True, so if we say they all must expose a dialog? We could make them something like the Folders

    [UIOMaticAction("export", "Export", View = "~/path/to/view.html")]
    public class ExportAction {}

Then on the type you'd do like

    [UIOMatic("alias", "Things", "Thing", Actions = new[]{ typeof(ExportAction) })]
    public class Thing {}

Although that does mean you are making ExportAction for

[2016-10-27 14:52] mattbrailsford commented on #55
I guess defining the empty classes though does make it easier to reuse, rather than entering view paths constantly, though you could move those to a constants file.

[2016-10-27 14:55] TimGeyssens commented on #55
Yup I like that (with the empty classes), like that you can then define the actions on the UIOMatic attribute, think that is the most readable/ understandable

[2016-10-27 16:03] TimGeyssens commented on #55
Added the initial code to make this possible https://github.com/TimGeyssens/UIOMatic/commit/3b3c5b4602b26bf5d7d5ae1efb18fb1ed4a0be21

[2016-10-28 07:20] mattbrailsford commented on #67
Done as part of commit 12443f33c9a4482e6e05d655a82a9c11290785f6

[2016-10-28 07:20] #67 closed

[2016-10-28 07:43] #62 closed

[2016-10-28 07:46] TimGeyssens commented on #55
Implemented and even have docs http://www.nibble.be/?p=520 , will move this our markdown docs

[2016-10-28 07:46] #55 closed

[2016-10-28 07:48] TimGeyssens opened #72 "List Actions need some UI TLC"
Button doesn't seem to be at correct place, and maybe add an icon for each action?

[2016-10-28 08:13] #68 closed

[2016-10-28 08:14] mattbrailsford commented on #68
Copied the pagination control from core which should sort this.

Could do with figuring out how we can apply some conditional styles though as the styles in older versions of umbraco are way different and those newer bulky pagination controls look odd in the grey tfoot. Could do with removing the grey background if on the newer styles, but no idea how you'd check for that.

[2016-10-28 09:10] #60 closed

[2016-10-28 09:14] TimGeyssens commented on #60
So they are added as server variables, simply add settings to the config with a key and you are able to fetch them with Umbraco.Sys.ServerVariables.uioMatic.settings.key

[2016-10-28 09:22] TimGeyssens commented on #64
Moves to 3.0 milestone since it seems like quite a bit of work

[2016-10-28 09:40] mattbrailsford commented on #68
Ok, copied Warrens version comparison utility service from here https://t.co/2d489evZVT and am now checking which version of the pagination control to use so the UI fits better.

[2016-10-28 09:43] mattbrailsford commented on #65
In this commit eb559ee7331a41e816fd0985fb6a1bb4ea6216a1 I've added Warrens umbraco version comparison util service https://gist.github.com/warrenbuckley/010aaf893551953732cc508c6b76d569 so that you can easily compare umbraco versions in angular. This could be the way we tackle the update, maintaining 2 views, one for pre 7.4 (where most of the new directives were added) and one for post 7.4.

[2016-10-28 10:28] TimGeyssens commented on #66
Leaving create where it is, this location is now used for List Actions

[2016-10-28 10:28] #66 closed

[2016-10-28 10:34] TimGeyssens commented on #65
Ok I see, thanks for adding! Still keeping this to 2.1 (the UI update) since I don't see that as necessary for v2

[2016-10-28 10:41] mattbrailsford commented on #65
Agreed, just left as a note so we know how to go about it when it comes to it.

[2016-10-28 10:42] TimGeyssens commented on #65
Perfect :)

[2016-10-28 10:50] TimGeyssens commented on #72
Updated in commit  https://github.com/TimGeyssens/UIOMatic/commit/7958015695a34eecbd2cf0b7d4953b3586012dee

[2016-10-28 10:53] TimGeyssens commented on #70
Want to mimic the behaviour you get in Umbraco when saving content so it show indicator, then a success icon, then back to normal

[2016-10-28 10:58] mattbrailsford commented on #72
Might want to look at making the menu right align with the button. And maybe look at moving the styles to the UIOMatic stylesheet rather than being inline.

![capture](https://cloud.githubusercontent.com/assets/527305/19804357/bb177e9c-9d05-11e6-8fc2-029c52a80040.PNG)

[2016-10-28 11:00] TimGeyssens commented on #72
Ah well spotted, yeah will give that a go

[2016-10-28 11:08] mattbrailsford commented on #55
Just looking back at this and am wondering, should the ListActions property on the UIOMatic attribute be named "ListViewActions"? I know it's a bit longer, but then everything else we have is "ListView" like "UIOMaticListViewField" and "UIOMaticListViewFilter" etc. What are your thoughts? I'm just a stickler for consistency :)

[2016-10-28 11:09] mattbrailsford commented on #55
Alternative is to look at renaming the other items to just be "List" not "ListView".

Or we can just leave things as is :)

[2016-10-28 11:10] TimGeyssens commented on #55
Ah no ListViewActions are fine, will update, good catch :)

[2016-10-28 11:13] TimGeyssens commented on #55
Updated in https://github.com/TimGeyssens/UIOMatic/commit/cb20160cf89c77b76816dd0b619dc29bf023358b

[2016-10-28 11:19] TimGeyssens commented on #72
@mattbrailsford any objections in releasing an RC today? Just doing some final UI tweaks but unless you where still planning on doing something I think we are good :)

[2016-10-28 11:21] mattbrailsford commented on #72
Nope, I'm happy with that. I did some biggish changes last night/this morning, but don't think there is anything fundamental that needs doing now for v2, so yea, go for it.

[2016-10-28 11:23] TimGeyssens opened #73 "Check for inline css that can be moved to stylesheet"

[2016-10-28 11:24] TimGeyssens commented on #72
Added another issue to take an overall look at inline css https://github.com/TimGeyssens/UIOMatic/issues/73 so closing this one

[2016-10-28 11:24] #72 closed

[2016-10-28 11:44] TimGeyssens commented on #54
It's a bit better now with the paging not showing up if there is only a single page, but the editor it self could use an update, just not sure how to

[2016-10-28 14:30] TimGeyssens opened #74 "Should we add something to the dashboard?"
Since it is so empty atm but not sure what makes sense

[2016-10-28 14:40] mattbrailsford commented on #74
I was thinking a welcome dashboard for a moment then, but the problem is, that would likely be "developer" focused, but you'd want something "client" focused really.

What that is though I'm not entirely sure. Quite difficult when everything within it is all dynamic so you don't know what is going to exist.

Maybe we could add a property on UIOMatic that says IncludeInDashboard or something, then

[2016-10-28 14:42] mattbrailsford commented on #74
Just something like this taken from Wagtail CMS

![image](https://cloud.githubusercontent.com/assets/527305/19810367/1365ff8c-9d25-11e6-9e09-c1275eff96db.png)

[2016-10-28 14:43] TimGeyssens commented on #74
Ah yeah good idea :)

[2016-10-28 14:46] mattbrailsford commented on #74
I don't think we really record any other "stats" for us to be able to report really do we? I think they could work ok though. Probably just add a new method to the Repository interface for GetTotalRecords or something and call that. Should be pretty simple :) I don't mind taking a look if you'd like it for 2.0?

[2016-10-28 14:47] TimGeyssens commented on #74
Yeah if you got time go for it :)

[2016-10-28 18:20] #74 closed

[2016-10-28 18:21] mattbrailsford commented on #74
All done! :)
![capture](https://cloud.githubusercontent.com/assets/527305/19817493/ac75af74-9d43-11e6-9f08-fa203c1e61d3.PNG)

[2016-10-28 18:22] mattbrailsford commented on #74
Clicking the cells take you to the create screen for that entity type. Thought that made most sense. Could link to the container node, but that only makes sense if it's a list view. Unless we make it link to the list if it's a list view, and create if it's not, but then would that get confusing?

[2016-10-28 18:27] TimGeyssens commented on #74
Wow that was quick :) hmm yeah I see what you are getting at think create is fine for the time being we'll see if we get any feedback on that once it's in use by folks

[2016-10-28 18:42] TimGeyssens commented on #74
Ow and what if you set the model to be readonly then I suppose it should direct you to the list view... and in case of tree render do nothing in that case I suppose

[2016-10-28 18:50] mattbrailsford commented on #74
Oooh, forgot about readonly, hmm, I guess I'll just make those not link for now?

[2016-10-28 18:51] TimGeyssens commented on #74
Yeah sure :)

[2016-10-28 19:00] mattbrailsford commented on #74
Sorted! Doesn't link, and doesn't have a rollover effect if it's readonly :) (Get's a blue border if it's linkable)

[2016-10-28 19:02] TimGeyssens commented on #74
Awesome :)

[2016-10-28 19:02] TimGeyssens commented on #74
I would say time to celebrate with a beer 🍻  have a great weekend!

[2016-10-28 19:04] mattbrailsford commented on #74
Likewise. Have a good one :)

[2016-10-28 20:03] skttl opened #75 "Define an object as a child of another object"
Lets say I have a structure like:

Family
- Id
- Name
- Address

Person
- Id
- FamilyId
- Name
- Age

I would then like to have [Person] listed as children of [Family[@Id = FamilyId]], in a list view or in the tree.

Persons should not have their own tree then, but only exist as children of families.

That would be a great feature :)

[2016-10-28 20:29] mattbrailsford commented on #75
You should be able to use a list field view on your parent model, then set
HideFromTree on your child model to hide it from the tree.

Not at computer to give solid example, but hopefully that'll get you
started.

Disclaimer, I've not tried this, but it should work :)

[2016-10-28 21:25] skttl commented on #75
Found something in the docs, and have tried to implement
[UIOMaticField(Name = "Family", View = "dropdown", Config = "{'typeName': 'MyWebsite.Core.Models.Family, MyWebsite.Core', 'valueColumn': 'Id', 'sortColumn': 'Name', 'textTemplate': 'Name' }")]

but I keep getting an error at UIOMaticTypeByAlias

[2016-10-29 05:34] TimGeyssens commented on #75
@skttl yeah the docs need updating, that's the old config from v1, it has been updated slightly for v2, so typeName should be typeAlias and the textTemplate is also different

[2016-10-29 05:50] TimGeyssens commented on #75
The following should work

[code]

Just make sure your alias is correct (so it must match the alias you gave the Families model)

[2016-10-29 06:01] TimGeyssens commented on #75
This should be it:

[code]
[code]

Results in the following ui
![](https://s16.postimg.org/m7rfjxued/Screen_Shot_2016_10_29_at_07_58_03.png)
but found a small bug, the hide from tree bool isn't respected

[2016-10-29 06:03] TimGeyssens opened #76 "Hide from tree setting not respected"

[2016-10-29 06:04] #75 closed

[2016-10-29 06:21] TimGeyssens commented on #75
Ow and if you set the rendertype of persons to List you should be able to return to the family when you create a new person from the list editor

[2016-10-29 09:15] TimGeyssens commented on #75
Docs should now be correct http://uiomatic.readthedocs.io/en/stable/

[2016-10-29 18:14] #76 closed

[2016-10-29 18:31] #73 closed

[2016-10-29 18:47] mattbrailsford commented on #75
@TimGeyssens I've added some code to make the "return to list" button show, even if the render type is tree, but you've come from a list field view.

[2016-10-30 14:16] TimGeyssens commented on #75
Nice 👍

[2016-10-30 14:34] TimGeyssens commented on #52
Docs have been updated http://uiomatic.readthedocs.io/en/stable/

[2016-10-30 16:58] mattbrailsford commented on #52
The ListViewFilter attribute docs are still TODO.

[2016-10-30 17:09] mattbrailsford commented on #52
Still to do
- [ ] Change logo for one on a transparent background
- [ ] ListViewFilter docs
- [ ] DateTimeUtc view
- [ ] Label config options (formatting?)
- [ ] Expand on UIOMaticRepository, include example, mention the strongly typed AbstractUIOMaticRepository
- [ ] Actions docs
- [ ] Consistant casing in doc menu
- [ ] http://uiomatic.readthedocs.io/en/stable/02.listview/ has a code snippet not

[2016-10-30 17:15] TimGeyssens commented on #52
Thanks for the review :) could you take a look at the logo since I don't have it with transparent bg

[2016-10-30 17:16] mattbrailsford commented on #52
Yup, no problem. I can handle any you are unsure of the details for, I just wanted to dump down what I've noticed.

[2016-10-30 17:23] TimGeyssens commented on #52
The Repo example would be ace since i'haven't done that yet the rest I can take :)

[2016-10-30 17:40] mattbrailsford commented on #52
No problem. I can handle that :)

[2016-10-30 20:45] TimGeyssens commented on #52
Woohoo so close now :) , any chance you can share a snippet on how to use the ListViewFilters since I'm a bit unsure about that

[2016-10-30 20:45] mattbrailsford commented on #52
Sure thing :)

[2016-10-30 20:47] TimGeyssens commented on #52
Haha just seen the sorry marc comment :)

[2016-10-30 21:02] TimGeyssens commented on #52
Also added a small note on dashboards, I think docs are complete now woohoo!

[2016-10-30 21:08] mattbrailsford commented on #52
Yup, I think it's pretty much there :)

Go UI-O-Matic team! 🤖

[2016-10-30 21:12] TimGeyssens commented on #52
Yihaa! Can't wait to try out the repo stuff you added, so much goodness in this release, thanks so much! ❤️

[2016-10-30 21:49] lars-erik opened #77 "Sections"
It would be really nice if it was possible to group entities in different sections. A section could have a custom dashboard, and you'd only have the relevant objects in the menu. Would help scaffold different subsystems.

[2016-10-30 22:04] mattbrailsford commented on #77
Should be pretty easy to put a TreeAlias on UIOMaticAttribute and have the
tree check it against its own alias.

[2016-10-30 22:17] mattbrailsford commented on #77
Actually, will be a tad more involved as will need to know section/tree in
order to generate correct urls where they are hardcover to move around (the
we should be able to know the section from the tree config)

[2016-10-31 07:34] mattbrailsford commented on #77
- [ ] Add `TreeAlias` property to `UIOMaticAttribute`
- [ ] Add `TreeBaseUrl` property to 'UIOMaticTypeInfo`
- [ ] Update `PetaPocoObjectService` to populate the `TreeBaseUrl` property in the format '#/sectionAlias/treeAlias', gathering the section alias from the core umbraco trees collection
- [ ] Update all Angular Views with hardcoded URL's, substituting the base URL with the new `TreeBaseUrl`

[2016-10-31 10:41] TimGeyssens opened #78 "Custom Repo, not able to edit"
Been playing with a custom repo but get a ysod when going to the edit view, seems that it isn't picking up the correct alias but using the primary key field instead

[code]

Nibble Newsletter is my identifier

what I get in the query string

`http://localhost:53960/umbraco#/uiomatic/uiomatic/edit/Nibble%20Newsletter%3Fta=Lists`

So it should look for Lists instead

[2016-10-31 11:03] mattbrailsford commented on #78
What does your repo implementation look like?

[2016-10-31 11:21] TimGeyssens commented on #78
Currently I got this

`    public class ListRepo : AbstractUIOMaticRepository<Models.List, string>
    {
        public override List Create(List entity)
        {
            throw new NotImplementedException();
        }

        public override void Delete(string[] ids)
        {
            throw new NotImplementedException();
        }

        public override List Get(string id)
        {

[2016-10-31 11:21] TimGeyssens commented on #78
(trying a sample API integration with Campaign Monitor)

[2016-10-31 11:29] mattbrailsford commented on #78
AbstractUIOMaticRepository has generic attributes, the first being your entity type, and then second being your primary key type, have you got those set correct?

    public class ListRepo : AbstractUIOMaticRepository<List, string>

[2016-10-31 11:31] TimGeyssens commented on #78
Yup think so

public class ListRepo : AbstractUIOMaticRepository<Models.List, string>

[2016-10-31 11:40] mattbrailsford commented on #78
You need to format you response as code, Github keeps stripping the angle brackets :)

But I think I've spotted where the issue is. Line 21 in edit.controller.js is expecting the ID to be a number, so we need to update this code. We could probably just check to see if there is a "ta" querystring param and if so, we know it's an edit, otherwise it's a create, so should be an east fix.

Have you mer

[2016-10-31 11:45] TimGeyssens commented on #78
Ah yes need to format as code :) yeah thought it would be something like that.

Thought I tagged but don't see it

[2016-10-31 11:48] mattbrailsford commented on #78
Should be able to change hadId to

    var hasId = qs["ta"];

Will commit once tagged etc though

[2016-10-31 11:51] #78 closed

[2016-10-31 12:21] TimGeyssens commented on #78
It works and man this is powerful stuff, great great job on the Repo!

[2016-10-31 12:22] mattbrailsford commented on #78
Sweeeet :)

[2016-10-31 20:04] TimGeyssens commented on #64
oops didn't mean to close this one

[2016-10-31 20:24] TimGeyssens opened #79 "New issue created from UI-O-Matic"
I :heart: Matt Brailsford

[2016-10-31 20:27] TimGeyssens commented on #79
This rocks 👍

[2016-10-31 20:27] #79 closed, assigned to nobody

[2016-10-31 20:41] mattbrailsford commented on #79
Haha 😂

[2016-10-31 20:45] mattbrailsford commented on #79
You hooked uiomatic to github by any chance? 😁

[2016-10-31 20:46] TimGeyssens commented on #79
I did :) just recording a quick vid will pop on twitter in a bit :)

[2016-10-31 20:58] TimGeyssens opened #80 "Hello World From Umbraco Backoffice"
This is just a new issue from the backoffice

[2016-10-31 20:58] #80 closed, assigned to nobody

[2016-11-02 16:13] pedroadaodev opened #81 "Dont show data, but knows how many rows I have"
Hi,

Just installed this package! =)

I already have the section, items and summary page.

I have "Contacts" and "Comments". UIOMatic know how many rows I have. The summary page knows the Total Items.

In the list page (RenderType = UIOMaticRenderType.List) it appears blank.

The "delete" button works.
![image](https://cloud.githubusercontent.com/assets/10515084/19936939/3a7dda54-a117-11e6-92df-00

[2016-11-02 16:14] pedroadaodev commented on #81
using UIOMatic.Attributes;
using UIOMatic.Enums;
using Umbraco.Core.Persistence;
using Umbraco.Core.Persistence.DatabaseAnnotations;

namespace MyProject.FrontEnd.Models
{
    [UIOMatic("contact", "Contact", "Contact", FolderIcon = "icon-users", ItemIcon = "icon-user", RenderType = UIOMaticRenderType.List, ShowOnSummaryDashboard = true)]
    [TableName("Contacts")]
    public class ContactsBoModel

[2016-11-02 16:15] mattbrailsford commented on #81
You need to add some [UIOMaticListViewField] attributes to the properties you want to display in the list view, otherwise UI-O-Matic doesn't know what you want to display.

[2016-11-02 16:15] mattbrailsford commented on #81
Check out the docs for the list view here http://uiomatic.readthedocs.io/en/stable/04.Listview/

[2016-11-02 16:16] pedroadaodev commented on #81
Yes!!! @mattbrailsford  Thank you so much! =)

THIS IS SOOOOOO GREAT!!!! =)

[2016-11-02 16:17] mattbrailsford commented on #81
No problem :)

Closing the issue down.

[2016-11-02 16:17] #81 closed, assigned to nobody

[2016-11-02 18:39] pedroadaodev opened #82 "How to - Dashboard click and go to list view"
Hi,

On the dashboard I can click on a "Object" and go to create view. Is there a option to go to list view?

Thanks,
Pedro

[2016-11-02 18:42] mattbrailsford commented on #82
Not currently no. We thought it might be confusing if list view models went
to the list, and tree based models went to create (because trees dont have
any other view), so we opted for going to create.

Would like to know what others think though.

[2016-11-02 19:43] TimGeyssens commented on #82
Maybe a hover state that shows 2 options when it's rendered as list (create and view data) and only 1 option when it's tree (create)

[2016-11-03 10:29] mattbrailsford commented on #82
Mocked this up last night, but not sure if I'm overly happy with it really

![capture](https://cloud.githubusercontent.com/assets/527305/19962598/62460950-a1b0-11e6-8d7d-b2a214ffc3ff.PNG)

[2016-11-03 10:36] khmjcd opened #83 "Update DLL version to 2.0.0 in Assembly Information"
![2016-11-03_11h36_12](https://cloud.githubusercontent.com/assets/11330055/19962829/cd727b42-a1b9-11e6-8418-9ba9742291ed.png)

[2016-11-03 10:40] pedroadaodev commented on #82
I love it! =)

View or List?

[2016-11-03 10:43] mattbrailsford commented on #83
This should have been set via the build script, we'll need to check why it wasn't

[2016-11-03 11:02] khmjcd opened #84 "Can not build project with UIOMatic 2.0.0. Not missing reference. Visual Studio 2013"
Can not build. Visual Studio 2013. Fresh Umbraco CMS 7.5.4 (also tried 7.5.3).

UIOMatic is referenced. It seems the classes can be used. But building the solution fails.

![2016-11-03_11h56_41](https://cloud.githubusercontent.com/assets/11330055/19963556/3347ea30-a1bd-11e6-9adb-bb6e3a6d281e.png)

[2016-11-03 11:05] mattbrailsford commented on #84
What .NET version are you building against?

[2016-11-03 11:15] TimGeyssens commented on #84
Yeah probably the .net version seems UI-O-Matic is build against .net 4.5.2 so check that your project is also build against at least that version

[2016-11-03 12:32] TimGeyssens commented on #82
I like it but your call :)

[2016-11-03 14:39] akeilox commented on #82
how about showing the view/create option inline, ie. next line after the total ?
the icon/font can be resized to accommodate and one less click for end user.

[2016-11-03 14:44] TimGeyssens commented on #82
@akeilox yeah good idea :)

[2016-11-03 14:59] mattbrailsford commented on #82
Another option, but again, still not 100% on this one

![ui2](https://cloud.githubusercontent.com/assets/527305/19971118/083255ba-a1d6-11e6-8ca3-1534d93a11e9.png)

(Would show on hover)

[2016-11-03 15:00] TimGeyssens commented on #82
Nice :)

[2016-11-03 15:14] akeilox commented on #82
Looks great!

[2016-11-03 15:19] pedroadaodev opened #85 "new feature - List Field Views - Content"
Hi,

Here we could have a field to display Node.Name with link to content in umbraco content editor
http://uiomatic.readthedocs.io/en/stable/05.ListFieldViews/#default

[UIOMaticField(Name = "Node", Description = "Select Language Node", View = UIOMatic.Constants.FieldEditors.PickerContent)]
[UIOMaticListViewField(View = **UIOMatic.Constants.FieldViews.FieldEditors.Content**)]
public int NodeId { g

[2016-11-03 15:21] pedroadaodev commented on #82
WOW! Even better! =)

[2016-11-03 15:36] khmjcd commented on #84
It was built against 4.5. Any reasons this is is 4.5.2 dependent? Are most Umbraco 7 versions not targeting 4.5 only anyway? :)

[2016-11-03 15:38] TimGeyssens commented on #84
Nope think it's 4.5.1 (well that's the error I get when trying to build against 4.5)

[2016-11-03 15:40] TimGeyssens commented on #85
That's already possible :)

Try adding a new property

[code]

[2016-11-03 15:41] TimGeyssens commented on #85
And then don't show the NodeId in the listview... make sense?

[2016-11-03 15:41] #85 closed, assigned to nobody

[2016-11-03 15:44] TimGeyssens commented on #84
Targetting 4.5.1 works, would that help you @khmjcd ?

[2016-11-03 16:30] pedroadaodev commented on #85
Thank you! =)

[2016-11-03 16:33] TimGeyssens commented on #85
No prob, hope you find the package useful :)

[2016-11-03 16:42] khmjcd commented on #84
Yes, i have 4.5.1 installed on the production webserver :)

Thank you for clarifying.

Awesome tool UIOMatic is.

Den 3. nov. 2016 kl. 16.44 skrev Tim Geyssens <notifications@github.com<mailto:notifications@github.com>>:

Targetting 4.5.1 works, would that help you @khmjcdhttps://github.com/khmjcd ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2016-11-03 16:50] TimGeyssens commented on #84
Ok new version is up on nuget (targetting 4.5.1) https://www.nuget.org/packages/Nibble.Umbraco.UIOMatic/2.0.1 but you'll have to wait until it's indexed before you can run the update command

[2016-11-03 16:50] #84 closed, assigned to nobody

[2016-11-03 19:13] pedroadaodev commented on #85
Yes! I love this package! =)

[2016-11-03 19:34] khmjcd commented on #84
Cool :)

I will keep an eye out for the index to update.

Thank you.

Den 3. nov. 2016 kl. 17.50 skrev Tim Geyssens <notifications@github.com<mailto:notifications@github.com>>:

Ok new version is up on nuget (targetting 4.5.1) https://www.nuget.org/packages/Nibble.Umbraco.UIOMatic/2.0.1 but you'll have to wait until it's indexed before you can run the update command

—
You are receiving this becau

[2016-11-03 19:35] TimGeyssens commented on #84
Should be ok by now :)

[2016-11-04 19:42] pedroadaodev opened #86 "Naviagation enhancement between views"
Hi,

When I'm in a list view, click to edit an item. Then I click "return to list" I loose my pagination, filter, sort field, etc.

Is it possible keep my navigation?

Thanks,
Pedro

[2016-11-05 10:54] #82 closed, assigned to nobody

[2016-11-05 18:07] TimGeyssens commented on #86
Currently not but would be a great enhancement :)

[2016-11-07 16:50] richardterris opened #87 "Labels"
It might be a nice feature to make the dashboard text editable, and/or hidden when a class is marked as read-only. As it stands a read-only class will still show 'update [your item name]'

Also, could add the ability to change the text on the section button, so that it doesn't need to say Uiomatic, or at least you could have '[your custom text](UIOmatic)'

Just suggestions - this is a fantastic pa

[2016-11-07 17:02] mattbrailsford commented on #87
Good call on the first issue.

Second issue should get covered by another open issue (away from pc and
can't recall issue number atm) so will just deem that as a separate issue
for now.

Thanks for reporting

[2016-11-08 09:07] TimGeyssens commented on #87
Yup think @mattbrailsford is referring to issue #77

[2016-11-08 10:41] #87 closed, assigned to nobody

[2016-11-08 12:10] pedroadaodev commented on #82
Hi,

I upgraded but I cannot see the "new buttons". So I need to do something?

Best regards,
Pedro

[2016-11-08 12:16] TimGeyssens commented on #82
Hey @pedroadaodev , it will be available in 2.0.2 maintenance release sheduled for Thursday so I assume you upgraded to 2.0.1 ? And that release doesn't have this new UI...

[2016-11-08 12:17] pedroadaodev commented on #82
that's it. I have 2.0.1.

Can't wait for Thursday. Thank you guys! =)

[2016-11-08 12:19] TimGeyssens commented on #82
No problem :) and in the meantime if you encounter any bugs are have any more suggestions make sure to shoot them on the issue tracker! Thanks!

[2016-11-08 16:29] pedroadaodev opened #88 "Umbraco Dashboard - open a view or see UIOMatic dashboard"
Hi,

When we login in Umbraco we see the Content dashboard.

We can add more dashboards, adding the path to the view

`<tab caption="Comments">
      <control showOnce="true" addPanel="true" panelCaption="">/uiomatic/uiomatic/list/comment</control>
    </tab>`

Is it possible to do something like this? Or add the UIOMatic dashboard?

Best regards,
Pedro Adão

[2016-11-08 16:32] mattbrailsford commented on #88
To the content section you mean?

You can add dashboards to where ever you like just by modifying the dashboard.config. You could move the UI-O-Matic one to the content section if you like, or create custom dashboards to show in the UI-O-Matic section, it's completely up to you.

[2016-11-08 16:39] pedroadaodev commented on #88
Great.

How can I change the dashboard.config to show a UI-O-Matic section list?

[2016-11-08 16:39] TimGeyssens commented on #88
Docs for dashboards are here https://our.umbraco.org/documentation/extending/dashboards/

[2016-11-08 16:40] TimGeyssens commented on #88
So you want to have a listview of items shown on the content dashboard?

[2016-11-08 16:41] mattbrailsford commented on #88
@pedroadaodev ahh, for that, you'd need to create your own dashboard. The list view is currently built to exist within the UI-O-Matic area, so you'd have to make a custom one to run within a dashboard context.

[2016-11-08 16:47] pedroadaodev commented on #88
Ok, thank you! =)

[2016-11-08 16:48] TimGeyssens commented on #88
We could look at making the listview into a directive so you can easily reuse it but for now that isn't possible (you'll have to create your own dashboard control)

[2016-11-08 17:02] pedroadaodev opened #89 "List View - Pagination error"
Hi,

If you have a PETA class with this
[UIOMatic("newsletter", "Newsletters", "Newsletter",
        RenderType = UIOMaticRenderType.List,
        SortColumn = "Id",
        SortOrder = "desc"
]

When you go to page "2" the sort order is "Id ASC".

Pedro

[2016-11-08 19:27] TimGeyssens commented on #89
Thanks for reporting, hope to fix this for Fridays release!

[2016-11-08 19:32] TimGeyssens commented on #89
Just been able to reproduce the bug, looking into a fix now :)

[2016-11-08 19:37] pedroadaodev commented on #89
UAU thank you!!  😁🙋

[2016-11-08 19:50] #89 closed, assigned to TimGeyssens

[2016-11-10 13:47] TimGeyssens opened #90 "QueryEventArgs should also have the filter(s) as parameter"
Since in case you want to overwrite the generated query you still need to know if any filters have been passed in

[2016-11-10 14:12] #90 closed, assigned to nobody

[2016-11-11 09:32] TimGeyssens opened #92 "issue with selected checkboxes not always being checked when refreshing page / after creation"
Fixed in #91

[2016-11-11 09:32] #92 closed, assigned to nobody

[2016-11-12 09:02] TimGeyssens opened #94 "OnCreatedObject event not firing"
Fixed with pull request #93

[2016-11-12 09:02] #94 closed, assigned to nobody

[2016-11-14 13:00] pedroadaodev opened #95 "Create new Custom Property Views"
I'm creating a new custom property view.

Add the code in this page.
http://uiomatic.readthedocs.io/en/latest/04.CustomPropertyViews/

I get this error on the browser console.
angular.min.js?cdv=2062270818:63 Error: Argument 'Example.Picker.Person' is not a function, got undefined
    at cb (angular.min.js?cdv=2062270818:17)
    at xa (angular.min.js?cdv=2062270818:17)
    at angular.min.js?cdv=20

[2016-11-14 13:55] TimGeyssens commented on #95
Can you post your code? Seems like you using the Example.Picker.Person as controller name , is that a controller that exists?

[2016-11-14 15:05] pedroadaodev commented on #95
![image](https://cloud.githubusercontent.com/assets/10515084/20269550/7e2b68ee-aa7b-11e6-87df-970698c40ead.png)

contentLink.controller.js
`angular.module("umbraco").controller("Example.Picker.Person",
    function ($scope, $http) {
        console.log("pedro");
    });`

contentLink.html
`<div ng-controller="Example.Picker.Person">
    <a href="">LINK</a>
</div>`

package.manifest
`{
    javascri

[2016-11-14 15:35] TimGeyssens commented on #95
ah think your package.manifest can't be that deep, try putting it under App_Plugins/Amorium instead  of in the subfolder

[2016-11-14 15:39] #95 closed, assigned to nobody

[2016-11-14 17:41] pedroadaodev commented on #95
That's it. Thank you! =)

[2016-11-14 20:25] TimGeyssens commented on #95
No problem, glad I could help :)

[2016-11-15 18:09] pedroadaodev opened #96 "DOCS - error in textarea"
http://uiomatic.readthedocs.io/en/latest/03.DefaultPropertyViews/#textarea

`[UIOMaticField("TextArea", "Example textarea property",
    View = "checkbox")]
public string Textarea { get; set; }`

should be

`[UIOMaticField("TextArea", "Example textarea property",
    View = "textarea")]
public string Textarea { get; set; }`

some reads the docs!  =)

[2016-11-15 20:15] TimGeyssens commented on #96
Thanks for reporting but just so you are aware those are the v1 docs, for v2 please go to http://uiomatic.readthedocs.io/en/stable/ :)

[2016-11-15 20:15] #96 closed, assigned to nobody

[2016-11-17 11:56] mattbrailsford opened #97 "Allow setting ListView page size on model"
Would be nice if we could configure page size from the model to allow more than the default 10 items to be listed

[2016-11-17 12:28] mattbrailsford opened #98 "Create UIOMaticCreateDate/ModifiedDate attributes"
If a date field is attributed with one of these, treat as a create/modified date field and auto update on save

[2016-11-17 12:29] mattbrailsford opened #99 "Add delete column option to UIOMatic attribute"
Wondering if it could be useful to add a DeleteColumnName or something similar to UIOMatic attribute that when set, assumes deletes don't actually delete, instead they set that DB column to true to signify the entity is deleted. Would also need to update the query logic to ignore deleted entities.

[2016-11-17 12:32] mattbrailsford opened #100 "Support match tables"
Currently when you use checkbox lists or multi select list, the values are stored as a comma separated string.  Would be good if we could some how support match tables to allow better storage of these values as it makes lookups a bit difficult.

[2016-11-17 14:48] #98 closed, assigned to nobody

[2016-11-17 14:48] #99 closed, assigned to nobody

[2016-11-17 15:10] TimGeyssens commented on #97
Currently it's a config option, but that is global for all of course listviews...

[2016-11-18 15:42] mattbrailsford opened #101 "Add debounce/timeout on search textbox"
Currently it looks like searching on a list view occurs after every key press. It would make for better performance if we added a debounce or timeout and only execute the search after so many milliseconds of inactivity, giving people time to type without it causing a search

[2016-11-19 09:57] #101 closed, assigned to nobody

[2016-11-19 10:03] mattbrailsford opened #102 "Review mixed use of Column Names and Property Names"
I'm not sure how big of a problem this is, it's just something that niggles me a bit that in various places we sometimes ask for column names, where as other, we ask for property names / keys. I think it might be nicer if we could use one and stick with it.

My inclination would be to use property names, as from those, we can work out column names, where as we can't easily go from column names to

[2016-11-19 13:44] mattbrailsford opened #103 "Pass type to field editors/views for context"
If you make some complex editors / views, they may want access to the parent type definition to work out so extra stuff. Might be a good idea to pass this in as context. You can actually get to it from the $scope, but it would be better to supply this in an official manor, rather than relying on code that may change.

[2016-11-24 15:48] stiefdirckx opened #104 "Unable to edit item with composite primary key"
I tried several configurations:
- `[PrimaryKey("Column1,Column2", autoIncrement = false)]` on class object
- `[PrimaryKeyColumn(AutoIncrement = false)]` on both property objects
- with and without autoincrement options

Expanding the tree or opening it in a list view works fine, but editing causes an exception: "Failed to get by id"

   at UIOMatic.Data.DefaultUIOMaticRepository.Get(String id)

[2016-11-25 15:13] TimGeyssens commented on #104
Hmm must say that that is an use case I haven't tested so probably it isn't supported... can you view the item? Just hitting the edit button fails?

[2016-11-25 18:48] stiefdirckx commented on #104
Yup, the tree shows correctly but clicking an item causes the exception to pop up.

I also tried this, but it gave the same error:
https://our.umbraco.org/forum/developers/extending-umbraco/59672-Combined-primary-keys-with-petapoco

When I hover over an item in the tree I don't see an id or key in the generated URL.

[2016-12-06 17:11] PeteDuncanson opened #105 "Make field names human friendly by default"
If the field has an accessor called FirstName (with that casing) why not automagically guess it should be "First Name" rather than requiring a label attribute on it. Would mean less attributes, less noise in most of the cases. Convention over configuration.

[2016-12-06 17:43] mattbrailsford commented on #105
Great suggestion Pete :)

On 6 Dec 2016 5:11 p.m., "Pete Duncanson" <notifications@github.com> wrote:

[2016-12-07 10:39] stiefdirckx opened #106 "Allow setting default sort column and direction for list view."
When opening a list view for a table the records are sorted by default by the PK. It would be nice if you could override this by using a parameter on the `UIOMaticListViewField` attribute.

[2016-12-07 15:11] TimGeyssens commented on #106
You can do this on your UIOMatic attribute if I remember correctly :)

[2016-12-07 15:14] TimGeyssens commented on #106
You can for example

`[UIOMatic("contactentries", "Contact Entries", "Contact Entry",
SortColumn = "Created", SortOrder = "desc", RenderType = UIOMaticRenderType.List)]`

[2016-12-07 15:14] #106 closed, assigned to nobody

[2016-12-08 07:53] stiefdirckx commented on #106
Thanks, probably looked over it.

[2017-01-12 23:46] mistyn8 opened #107 "RenderType = UIOMaticRenderType.List seems to be broken in current nuget deploy"
I've just setup 7.5.7 umbraco via nuget, and then followed that with Install-Package Nibble.Umbraco.UIOMatic which installed 2.0.3

setting up the simple example.
[code]

I get an empty table... it seems to be the typeInfo api at fault as it returns an empty array for listViewProperties = [] at least that was as far as I got trying to resolve.

the full response from uioMaticObjectResource.getType

[2017-01-13 00:54] mistyn8 commented on #107
stumbled on the answer.. decorate with [UIOMaticListViewField]

[2017-01-13 00:54] #107 closed, assigned to nobody

[2017-01-13 11:41] TimGeyssens commented on #107
Ok be sure to check the latest docs over at http://uiomatic.readthedocs.io/en/stable/

[2017-01-13 12:01] mistyn8 commented on #107
I had read through those a few times and missed it completely... :-(

http://uiomatic.readthedocs.io/en/stable/04.Listview/ now I know what I'm looking for I did find it,
I think I got to "Now you won't see the items in the tree anymore but in a list view" and stopped reading.

Perhaps it might help others if there was a coded example for listview? ;-)

[2017-01-13 12:24] TimGeyssens commented on #107
Ok good point, will update it a bit :)

[2017-01-26 12:34] mistyn8 opened #108 "[required]DateTime doesn't appear to be working"
[code]

If I try to create/update with an empty date I get an ugly asp.net error in the sidepanel and not a nice client side notification?

[2017-01-26 12:41] mistyn8 commented on #86
would be nice for "return to list" to become "return to XXXX" XXX being the parent name?
maybe also a breadcrumb for if you are 3 or so lists deep? :-)

[2017-01-26 13:40] TimGeyssens commented on #108
Thanks for reporting I'll check it out!

[2017-01-26 13:47] TimGeyssens commented on #108
Can you try with a nullable property?

[2017-01-26 14:33] mistyn8 commented on #108
Works if set to nullable though that's a little counter intuitive?

(sorry for the delay had to refactor some sections for date formating once a nullable)

[2017-01-26 14:36] TimGeyssens commented on #108
Well some research seems to say that a Datetime always has a value so needs to be nullable for required to work ... http://stackoverflow.com/questions/27025004/how-can-i-make-a-datetime-model-property-required

[2017-01-26 14:43] mistyn8 commented on #108
hmmm interesting.. but then it fails inserting a null into the db? so it's got a null value at that point, perhaps some abstraction around minDate going on?

[2017-01-26 14:51] TimGeyssens commented on #108
Ok thanks for the details, will give it a go and see why it is failing

[2017-01-26 14:53] mistyn8 commented on #108
thanks to you have a working solution with the nullable type, so all's well with the world.

[2017-01-26 15:00] TimGeyssens commented on #108
Awesome :)

[2017-01-30 15:56] #108 closed, assigned to nobody

[2017-02-10 16:50] Nicholas-Westby opened #109 "Allow Content to be Picked by Content Key (a GUID)"
Currently, `pickers.content` allows content nodes to be picked by the content ID (an integer). However, sometimes it is necessary to pick content nodes by the content key (a GUID). An example would be for the `contentKey` field on the `umbracoRedirectUrl` table.

I have implemented this by copying `pickers.content` to create `pickers.content.guid` (modifying it appropriately), and it seems to work

[2017-02-14 17:03] TimGeyssens commented on #109
Hi Nicholas, yup you can pass config in json to additional settings so would be a good idea to move it there, I'll see if I can find an example

[2017-03-07 12:27] AstuteMediaDev opened #110 "Broken list view 2.0.3"
Sorry not sure if this is the place for bugs.

We have just upgraded to Uiomatic 2.0.3 + Umbraco 7.5.11.

List view has broken for us however tree view still functions correctly.

Our use case is very simple - we just have two attributed tables and list view has broken for both.

We can make do with tree view but any help fixing this would be much appreciated as it is a client site.

[2017-03-07 14:29] TimGeyssens commented on #110
Ok will take a look, thanks for reporting!

[2017-03-07 14:30] TimGeyssens commented on #110
Make sure to clear your browser cache just in case

[2017-03-07 16:55] AstuteMediaDev commented on #110
Thanks Tim.

Clearing browser cache has no impact - always work with Chrome dev tools and cache disabled.

Records are visibly coming back in the list view - rows are showing but they are blank.

[2017-03-07 17:00] TimGeyssens commented on #110
From which version did you upgrade UIOMatic?

[2017-03-07 17:06] TimGeyssens commented on #110
If you are coming from v1 you need to explicitly mark the properties you want in the listview with the [UIOMaticListViewField] attribute

[2017-03-07 17:07] AstuteMediaDev commented on #110
Prior version was 1.6 + Umbraco 7.5.3.

We  recently discovered two bugs in that version and decided to upgrade to fix them.

Bugs in that version:

1. Checkbox editor failed to save with  error:

/umbraco/backoffice/UIOMatic/Object/Validate (500 internal server error)
'input string was not in a correct format'

2. Changing pages caused error:

Uncaught Error: Syntax error, unrecognized expression

[2017-03-07 17:10] AstuteMediaDev commented on #110
Awesome thanks Tim that's fixed it 👍

FYI we didn't see anything about this in the docs:

http://uiomatic.readthedocs.io/en/stable/

[2017-03-07 17:12] TimGeyssens commented on #110
Did you check this page http://uiomatic.readthedocs.io/en/stable/04.Listview/

[2017-03-07 17:12] #110 closed, assigned to nobody

[2017-03-07 17:13] AstuteMediaDev commented on #110
Doh :(

[2017-03-07 17:17] mattbrailsford commented on #110
Sounds like you are missing the [UIOMaticListViewField] attribute on your
model properties http://uiomatic.readthedocs.io/en/stable/05.ListFieldViews/

On 7 Mar 2017 5:12 p.m., "Tim Geyssens" <notifications@github.com> wrote:

[2017-03-24 12:13] rasmusfjord opened #111 "No data shown on an entry, neither in listview or normal"
So i have a model with UI O Matic.

But when it its shown the data from the field is not shown in the field, the field is just empty. If i fill it out, save it, it will actually get saved to the DB, when i reload the browser the fields are empty again.

[code]

[2017-03-24 12:19] rasmusfjord opened #112 "Building a datatype to show some data based on the node id"
So I have an idea and would like to hear if its totally far fetched, if not how to get started.

So it would be a datatype, where you get the listview from UI O Matic though it would only show the entries which had the nodeid (in some petepoco property that you select on the settings page).

So an example whould be a node in umbraco is a "team" and all the members are petapoco entries, but a listv

[2017-03-24 12:31] TimGeyssens commented on #111
Hmmm need to check might be due to the JsonProperty attributes, that's the only thing I can see that is additional to our docs

[2017-03-24 12:33] TimGeyssens commented on #112
Ow nice idea, yeah go for it :) makes sense...

[2017-03-24 12:34] rasmusfjord commented on #111
It was because of the json declaration.

Any think you think we can do so they can coexist :)

[2017-03-24 12:36] rasmusfjord commented on #112
Roger ill give it a shot, it would save us so much time getting this type.

[2017-03-24 12:36] rasmusfjord commented on #112
Ill keep it open if any issues aries or ind the end their might be a PR :)

[2017-03-24 12:55] TimGeyssens commented on #111
Yeah will need to be updated in our code :) will try to take a look soon

[2017-03-24 12:56] rasmusfjord commented on #111
Roger ;) 

Already on listview type.

Med venlig hilsen
----
Rasmus Fjord

42407620

On 24-03-2017 13:55:27, Tim Geyssens <notifications@github.com> wrote:
Yeah will need to be updated in our code :) will try to take a look soon
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://github.com/TimGeyssens/UIOMatic/issues/111#issuecomment-

[2017-03-24 12:58] TimGeyssens commented on #112
Awesome, if you need any pointers let us know :)

[2017-03-27 06:19] rasmusfjord commented on #112
Hey Tim

Im almost ready just need to create an edit/create dialog and im adding a few extra options to the datatype itself, one of these i would like to dicuss because it can easily be a bit off.

So im adding the following options to the new dataytpe :
hide create
hide search
hide delete
(custom SQL)

So the last one is the one i wanna discuss with you. My idea is that you dont want to delete a

[2017-03-27 06:44] mattbrailsford commented on #112
Regarding the later option, I think we already have support for that
scenario (or if we don't, I do and I've not committed it) but you should
have the ability to set on your model a "Deleted" column option which uiom
uses to determine if an item is deleted.

We should shy away from custom sql in the pre value, instead, use the built
in repository support to define your own sql if you really need s

[2017-03-27 06:47] rasmusfjord commented on #112
Hey Matt :)

The deleted was just an example since we got 2-4 props that I wanna check upon depending on which listview datattype im creating, but yeah the custom sql was my last resort.

Could you give an example on how to use the repo, couldnt find it in the docs? Just so i could see if it solved it.

[2017-03-27 06:51] mattbrailsford commented on #112
Some info in the docs here
http://uiomatic.readthedocs.io/en/stable/12.Advanced/

On 27 Mar 2017 7:47 a.m., "rasmusfjord" <notifications@github.com> wrote:

[2017-03-27 10:16] mrpeo commented on #82
I'm using UIOMatic 2.0.3,
The sumary not show anything. See screenshots.

Please help. Thank you very much.

![theclass](https://cloud.githubusercontent.com/assets/4709861/24351695/f4469d84-1310-11e7-8f4d-8b5e2b48fe15.jpg)
![dashboard](https://cloud.githubusercontent.com/assets/4709861/24351765/3d617bd8-1311-11e7-81a7-cd78f45a1d20.jpg)

[2017-03-27 10:31] pedroadaodev commented on #82
Hi @mrpeo

I think you are missing this
ShowOnSummaryDashboard = true,

[UIOMatic(
       "people",
       "People",
       ...
        ShowOnSummaryDashboard = true,
]

[2017-03-28 07:31] mrpeo commented on #82
Work like a charm.

Thanks @pedroadaodev

[2017-03-28 07:46] rasmusfjord commented on #112
Got it done :)

Also got around the sql thing by adding predefined filters to the datatype 👍

You mentioned you had made the thing so things didnt get deleted but just get flagged. I cant find it in the source code, so do you have it laying around ?:)

![image](https://cloud.githubusercontent.com/assets/1286043/24394085/dcf09060-139a-11e7-80e1-f6c55328f837.png)

[2017-03-28 08:00] TimGeyssens commented on #112
Wow that looks amazing, great work!

[2017-03-28 08:04] rasmusfjord commented on #112
Pr comming in a sec ;) if you can give me the solution to the delete issue i would be thrilled ;)

[2017-03-28 08:11] TimGeyssens commented on #112
Hmm think @mattbrailsford knows that one best but I think if the DeletedColumnName property is set on the UIOMatic attribute it flags an object instead of deleting it https://github.com/TimGeyssens/UIOMatic/blob/v2/src/UIOMatic/Attributes/UIOMaticAttribute.cs

[2017-03-28 08:15] TimGeyssens commented on #112
Small q is the property for nodeId setting mandatory, what happens if that isn't set? Just thinking it would make it even more useful if it isn't limited to filtering on node id by default (so you can drop a list view where you want)

[2017-03-28 08:19] TimGeyssens commented on #112
@rasmusfjord for the delete stuff you can find all you need in this commit https://github.com/TimGeyssens/UIOMatic/commit/03ec0b89f56bf1a00adabf290dc1ea81d26569e4

[2017-03-28 08:22] rasmusfjord commented on #112
ARH you guys rock :) ill get back on the Q in my PR :)

[2017-03-28 08:48] rasmusfjord commented on #112
Hmm ive just checked the V2 branch, its true that its not part of the V2 right ?

[2017-03-28 22:55] Nicholas-Westby opened #114 "Bulk Select List Items"
Right now, if you want to select all of the displayed items, you must select each of them by clicking the checkboxes next to them:

![redirects-list](https://cloud.githubusercontent.com/assets/5933222/24431082/cf3d479a-13ce-11e7-8e22-8090ccaa9f81.png)

Would be nice if there were a checkbox above the list that allows for all of the items to be selected. That way, I could delete a bunch that got ac

[2017-05-08 11:00] madsoulswe opened #115 "Search doesn't work on tables containing Numreic columns"
DefaultUIOMaticRepository.GetPaged uses LIKE on Numeric columns.

- If property is Numreic it should be ignored or cast the value before LIKE?

[2017-05-19 11:20] Killerkiwi2005 opened #116 "Default View Hyperlink/Button"
So this would be nice, to be able to do a generic button that opens a hyperlink

`[UIOMaticField(Name = "Publish",Description = "Publish Report", View =  UIOMatic.Constants.FieldEditors.Hyperlink, HRef = "/api/reports/generate/{{Value}}")]

public string ReportId { get; set; }`

[2017-05-19 12:28] TimGeyssens commented on #116
Not sure I follow you on this one, mind describing a use case?

[2017-06-08 13:58] TimGeyssens commented on #115
Good point, if you are up for it you can do a pull request :)

[2017-06-16 18:49] harvzor opened #117 "Show total items returned in list view."
I can see in the `/umbraco/backoffice/UIOMatic/Object/GetPaged` API call, the `totalItems` which match the current query are returned:

[code]

I want to be able to see this in my view, so if I run a query, I can see how many results I have (rather than manually having to count).

[2017-06-16 19:10] harvzor opened #119 "Filtering doesn't work on non-database fields."
Creating a field on the POCO which does not exist in the database and attempting to filter/order by it causes an error.

The error appears to be because that field does not exist in the database and a SQL query is probably using the field: `System.Data.SqlClient.SqlException: Invalid column name 'NodeName'.`

In my specific example, I have stored an Umbraco node ID in the database. I want to displ

[2017-06-21 03:39] Killerkiwi2005 opened #120 "FieldEditors.List"
I can't get this to work after looking over the documentation I just get an empty list

Any pointers? I must be missing some thing simple

[code]

[2017-06-23 03:23] Killerkiwi2005 commented on #120
Found the answer list.controller.js, note im using guid ids... the controller checks for a number...

` function fetchData() {
            if (!isNaN($scope.filterId)) { // Only fetch if we have an ID (ie, editing)
                uioMaticObjectResource.getPaged($scope.typeAlias, 1000, 1,
                    $scope.initialFetch ? "" : $scope.predicate,
                    $scope.initialFetch ? ""

[2017-07-04 08:31] TimGeyssens commented on #120
Ok thanks for the details

[2017-07-11 15:54] dtila opened #122 "Navigate from an ListViewAction to a create action"
Hi,

Is there a way to navigate from a ListViewAction to a create page where you can create a certain entity type ?

For example, I have a class A which can have B and C as a child, but I want to have the actions available only after I created the A class

[2017-08-11 17:48] atpaton opened #123 "Error loading backoffice page with autofac configured"
I am using Umbraco 7.6.5 and have Autofac configured, and have added the line to register the tree api as such:

builder.RegisterApiControllers(typeof(UIOMatic.Web.Controllers.UIOMaticTreeController).Assembly);

However, when I try to load the ui-o-matic page in the backoffice, I receive the following error:

at System.RuntimeTypeHandle.CreateInstance(RuntimeType type, Boolean publicOnly, Boolean

[2017-09-11 17:34] mrpeo opened #124 "Return undefined id after created new object"
When i save, it's not return the created id but return undefined --> errors.

See creenshot.

Please help!

Thank you!

![screenshot_4](https://user-images.githubusercontent.com/4709861/30288190-0a49cac8-9752-11e7-8584-481e4ae905df.jpg)

[2017-09-12 07:28] mrpeo commented on #124
:( no one here

[2017-09-14 09:47] ThomB93 opened #125 "Cannot filter on boolean values"
I applied the UIOMaticListViewFilter attribute to a boolean property. In my SQL DB I am using the bit datatype for this column. However when i filter it in my backoffice it only works for true values. Setting the filter to false shows both true and false values.

This is my property:

[code]

[2017-09-19 10:35] mrflo opened #126 "UIOmatic proprety editor dropdown problem"
Hi guys,

I 've tried to use the dropdown list of a custom objects on Umbraco 7.6.1. When I am trying to select the "type of object" field, nothing appears in the value property. I can save it but in the content section nothing is saved.
Do you have an idea what could be the issue? It seems that there is no call to the webservice like if the angular "watch" event is not working.

Thanks for your h

[2017-10-18 09:44] TimGeyssens opened #127 "Test from MCFly"
test from MCFly

[2017-10-18 09:45] #127 closed, assigned to nobody

[2017-10-18 11:51] TimGeyssens commented on #126
Hey, what happens if you first save the prop editor with the type selected, does it populate then?

[2017-10-18 12:03] TimGeyssens commented on #124
Mind sharing your poco?

[2017-11-24 09:46] uniquelau opened #129 "Checkbox view not found"
Version 2.0.6

[code]

Error 404, path points to: `fieldviews`

I can resolve by copying `checkbox.html` from `fieldeditors` to `fieldviews`.

I have done this, and made a few minor adjusts so the checkbox works nicely for a readonly view.

`<input type="checkbox" ng-model="property.value" ng-value="property.value" disabled="disabled" style="display: block"/>
`

[2017-11-24 10:45] uniquelau opened #130 "Formatting Date using Label Config"
[UIOMaticListViewField(Name = "Invoice Date", Config = "{'format' : '{{value|relativeDate}}'}")]

Is there a way to find the available filters? I am trying to get my date to display using `shortDate` ?

Many thanks! Laurie

[2017-11-24 12:11] uniquelau commented on #129
Ah it's because it's a FieldEditor, rather than a FieldView.

Would be nice to have it, but it's not a bug - I will close.

[2017-11-24 12:11] #129 closed, assigned to nobody

[2017-11-28 13:19] uniquelau commented on #120
Ah! Thank-you for posting this, it's resolved an issue I've had whilst trying to display data from another table using a foreign key.

[code]

If you are looking for the file LemonTVnz mentions, it can be found here:

`/UIOMatic/backoffice/views/fieldeditors/list.controller.js`

If it helps someone else, I have changed the controller so we just check that string contains something...

[code]

[2017-12-18 20:58] kipusoep opened #134 "Assembly scanning not careful enough"
Scanning all types in all assemblies can provoke a ReflectionTypeLoadException when something is wrong with an assembly.
In my case I ran into [the famous DotNetOpenAuth issue](https://stackoverflow.com/questions/34236329/mvc-4-mef-system-typeloadexception-inheritance-security-rules-violated-by-type).
I added a try catch to prevent these issues to arise and I'll submit a PR in a few.

[2017-12-19 10:32] kipusoep opened #136 "Sort order indicator indicates opposite"
As far as I know, the sort order indicator (triangle) should indicate the current sort order.
At the moment it indicates the opposite:
![image](https://user-images.githubusercontent.com/1866549/34152822-2f786196-e4b0-11e7-9f3f-dac76af44e68.png)
As you can see the indicator is now "from wide to narrow", which means descending, while the list is sorted ascending (https://ux.stackexchange.com/a/37565

[2017-12-19 11:39] TimGeyssens commented on #134
Ace, thank you!

[2017-12-19 11:39] #134 closed, assigned to nobody

[2018-12-13 13:44] LeaBits opened #139 "Add a date filter - Items between start date and end date"
Hello! I'm really loving this package so far! I'm using UIOMatic on multiple projects at the moment and in one of our projects there is a need for filtering between dates.

For more details, here is our use case:
I'm saving reservations in a Peta Poco model. In de UIOMatic section, in the list view, they would like to know what the next reservations are or maybe even what the reservations for next

[2019-01-24 03:15] yiliang-zheng opened #140 "Build from source code"
Hi all
Could anyone instruct me how to build Javascript files from the source code into my own project ?
Thanks in advance.

[2019-01-24 03:28] yiliang-zheng commented on #140
I think I found the answer. appveyor.yml states the step.
`cd build`
`Package.build.cmd`
then navigate to the artifact folder, install the package to your project

[2019-01-24 03:28] #140 closed, assigned to nobody

[2019-02-04 17:15] vinkhub opened #141 "Invalid path to objectsearcher.controller.js in package.manifest"
The path to
'~/App_Plugins/UIOMatic/backoffice/views/propertyeditors/objectsearcher.controller.js' doesn't match the actual location. The file is actually under 'dialogs' folder instead of 'propertyeditors'

[2019-02-08 03:14] serenabenny opened #142 "Error in listview create action"
Entity Class
[code]
[code]
Error found when click create action button
![image](https://user-images.githubusercontent.com/3369365/52457000-9cf48180-2b92-11e9-9539-30a0c315401f.png)

![image](https://user-images.githubusercontent.com/3369365/52457010-a978da00-2b92-11e9-8fff-22cdf8ce7fcd.png)

[2019-05-19 23:31] Killerkiwi2005 opened #143 "Umbraco8 Plan?"
Is there any plan for umbraco8

I've had a quick look at the main issue seems to be the installer and tree controller

[2019-06-26 08:14] chrno1209 commented on #143
I am having the same question too, wonder if it can be available for Umbraco 8 too :)

[2019-09-27 08:51] TimGeyssens commented on #143
Yeah I made a quick port a while back but need to test it against the final v8, If anyone is up for helping...

[2019-09-27 08:52] Sibren commented on #143
Sure.
Happy to!

Op vr 27 sep. 2019 10:51 schreef Tim Geyssens <notifications@github.com>:

[2019-10-02 11:48] Niels84 commented on #143
I'm up for helping! Can you publish the port version?

[2019-10-02 11:57] TimGeyssens commented on #143
@Sibren @Niels84 sweet thanks, yeah I'll dig it up and publish is shortly (within a week). As for as I can remember the inners worked but the UI needed some refreshing

[2019-10-02 15:06] TimGeyssens commented on #143
code is in the v3 branch, tryng to fix the appveyor setup (so there is a nuget) but hitting a small error there for the moment (Umbraco.SqlServerCE.targets(2,1): error MSB4041)

[2019-10-03 14:56] Sibren commented on #143
Hi Tim, @Niels84 and I have started to investigate.
We solved a whole lot of (small) issues already, but there are still lots remaining.
What we've got working so far: starting up, creating nodes (although there's a refresh issue), deleting nodes, saving simple nodes (text and password), some styling issues, loading content/media/members (but saving is an issue).

It seems silly to do a pullreques

[2019-10-03 16:30] TimGeyssens commented on #143
Sweet, yeah pull away then we can work on it together 💪

[2019-10-07 10:16] Sibren commented on #143
Hi Tim,

I have never created a pullrequest before, but I've created a fork to stash my/our data.
Trying to get the RTE and the datepicker working now.

Main issue now seems to be that there's something weird with creating. Will create screendump later.

[2019-10-07 12:04] TimGeyssens commented on #143
@Sibren hey it's pretty easy to do a pull request, but maybe I can just add you as a collab on the project then we can work in the same repo.... is that ok?

[2019-10-07 12:17] Sibren commented on #143
Sure, I've accepted your invite.

[2019-10-15 00:47] Killerkiwi2005 commented on #143
Is there a way to build the v3 branch yet  ?

"C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe" build/package.proj

\UIOMatic\src\packages\Umbraco.SqlServerCE.4.0.0.1\build\Umbraco.SqlServerCE.targets(2,1): error MSB4041: The default XML namespace of the project must be the MSBuild XML namespace. If the project is authored in the MSBuild 2003 format, please add xmlns="http://schemas.microsoft.

[2019-10-15 00:53] Killerkiwi2005 commented on #143
Getting a build error for v3

  82 files to add to Manifest
\uiomatic\UIOMatic\build\package.proj(125,3): error : Name cannot begin with the '8' character, hexadecimal value 0x38. Line 20, position 47.

[2019-10-15 06:17] Sibren commented on #143
Please open it in VS 2019

Op di 15 okt. 2019 02:53 schreef KillerKiwi <notifications@github.com>:

[2019-10-15 08:12] TimGeyssens commented on #143
Hey mine buikds in vs 2017, what are you using to build @Killerkiwi2005 (I get the same errors on appveyor so would be good to know how to fix)

[2019-10-15 11:45] Sibren commented on #143
Still having some issues, but first commit is there:
Fixed RTE, textarea, input (text+pw).
Creating and deleting is now possible, but there's a glitch upon creating with the datepicker (it shows top left) -- it still is the old datepicker, not the Umbraco 8 one.
And if you selected an item and then try to create, it does not refresh the view.

[2019-10-15 11:48] TimGeyssens commented on #143
ok super :)

[2019-10-15 11:56] TimGeyssens commented on #143
The date(time) picker isn't using a built in Umbraco one but using bootstrap-datetimepicker.js, so we can probably fix that.... what do you mean with select item and create, refresh view?

[2019-10-15 13:08] Sibren commented on #143
Hi Tim,

I put it here: https://our.umbraco.com/forum/using-umbraco-and-getting-started/99424-custom-section-issue-with-selecting-the-right-itemscreating-new-ones
(unfortunately in the wrong category).
Yeah, the datepicker could be something I screwed up. Looking into it right now.

[2019-10-15 13:24] TimGeyssens commented on #143
Cool, wel propably can be fixed with updating the third party component (datepicker). Just trying to fix appveyor, after that I can look into remaining stuff

[2019-10-15 15:00] TimGeyssens commented on #143
@Sibren appears the tree issue is fixed in the Umbraco core (works fine in 8.2), appveyor is also working now...

[2019-10-15 15:01] TimGeyssens commented on #143
Gonna close this item now, for v3 issues just report them separately on the issue tracker.

[2019-10-15 15:01] #143 closed, assigned to nobody

[2019-10-16 08:23] TimGeyssens commented on #141
Fixed in v3

[2019-10-16 08:23] #141 closed, assigned to nobody

[2019-10-16 08:26] TimGeyssens commented on #130
A bit late but yeah you need to add your own I think, details here http://www.nibble.be/?p=525

[2019-10-16 08:26] #130 closed, assigned to nobody

[2019-10-16 08:27] TimGeyssens commented on #124
Closing due to inactive...

[2019-10-16 08:27] #124 closed, assigned to nobody

[2019-10-16 08:28] TimGeyssens commented on #123
Hey, stated in the docs https://uiomatic.readthedocs.io/en/stable/13.KnowIssues/

[2019-10-16 08:28] #123 closed, assigned to nobody

[2019-10-16 08:31] TimGeyssens commented on #120
Fixed in v3

[2019-10-16 08:31] #120 closed, assigned to nobody

[2019-10-16 08:32] TimGeyssens commented on #117
Old issue, already fixed by pull request

[2019-10-16 08:32] #117 closed, assigned to nobody

[2019-10-16 08:38] TimGeyssens commented on #112
Old issue, @rasmusfjord pr has been merged a while ago and part of v2 and now also v3

[2019-10-16 08:38] #112 closed, assigned to nobody

[2019-10-16 08:41] TimGeyssens commented on #114
Yeah would be nice :) PR away ;)

[2019-10-16 08:43] TimGeyssens commented on #115
FIxed by pr #144 on v3

[2019-10-16 08:43] #115 closed, assigned to nobody

[2019-10-16 08:46] TimGeyssens commented on #119
Nope filtering happens on db level....

[2019-10-16 09:58] Sibren commented on #139
Hi Leanne,

I guess for now this would require some custom coding, not out of the box.
Maybe check out the listview and override it with your own implementation, where you can pick dates too.

This shouldn't be too hard, I guess?
If you go to /App_Plugins/UIOMatic/backoffice/uiomatic/list.html and the corresponding list.controller.js, maybe you can start from there?
This would require the need to

[2019-10-16 11:44] TimGeyssens commented on #114
AH it's actually in there :)

[2019-10-16 11:44] #114 closed, assigned to nobody

[2019-10-20 22:59] Killerkiwi2005 commented on #100
Maybe change storage to JSON

Then you can use TSQL to query the json values directly

[code]

[2019-10-21 07:19] #125 closed, assigned to nobody

[2019-10-23 07:14] TimGeyssens commented on #119
Wel you could replace the default repo with a custom implementation and then handle the getpaged data differently.... that's the only thing I can think of

[2019-10-23 07:14] #119 closed, assigned to nobody

[2020-03-05 11:31] mistyn8 opened #150 "Search on FieldEditors.List to match that on the PropertyEditor?"
Are there any plans or helpful suggestions as to how to have searching on fieldEditor lists in uiomatic?

(just the same as on the main list property editor) filters would be nice too...

cheers

[2020-03-13 05:42] TimGeyssens commented on #150
Currently not but of course open to suggestions :) Will see how easy it is doable

[2020-03-16 10:06] TimGeyssens commented on #150
Ok maybe add an additional config option showSearch that you can set to true... (and possible also showFilters) that would then have the same functionallity...

[2020-04-15 09:45] stefankip commented on #3
So I'm in the same situation right now and don't really know where to start. Does anyone have an EF implementation example I can borrow?

[2020-04-15 10:28] stefankip commented on #3
I think I worked it out with the `AbstractUIOMaticRepository`, which is a bit easier to implement ;-)

[2020-04-15 11:06] TimGeyssens commented on #3
Sweet :)

[2020-05-01 08:37] AaronSadlerUK opened #152 "Umbraco V8 Section Missing"
Hi,

Not sure if I'm doing something wrong, however I have a fresh install of Umbraco with the latest version of UIOMatic installed.

However I am unable to assign the permission as it does not show in the sections list within the groups, or on the menu.

I've checked the app_plugins folder and it all seems to be there.

Any help is appreciated

[2020-06-12 20:20] sbosell opened #153 "UIOMaticIgnoreField is missing from v3"
The older version documentation says the UIOMaticIgnoreField attribute can be used to ignore fields but that attribute doesn't exist in v3.  Is there a different way to ignore fields?

[2020-06-13 02:10] #153 closed, assigned to nobody

[2020-06-15 10:55] TimGeyssens commented on #152
Odd, are you an admin on the site?

[2020-06-18 04:51] angryloner opened #154 "No Data Entry Fields in Backoffice - Umbraco V8"
I've installed v 3.0.8 via nuget - `Install-Package Nibble.Umbraco.UIOMatic -Version 3.0.8` - and followed the instructions in the github readme to create my database table and Model class.

When I open the Umbraco Backoffice there are no fields when I try to create a person:
![image](https://user-images.githubusercontent.com/947697/84977198-1e87f680-b16d-11ea-8220-b12c2a00e920.png)

If I manually

[2020-06-18 08:23] AaronSadlerUK commented on #152
Yes, the only admin on the site

[2020-06-18 08:36] TimGeyssens commented on #152
Odd, have you checked the admin user group, to see if it is available there?

Since it should be checked if this code executes https://github.com/TimGeyssens/UIOMatic/blob/v3/src/UIOMatic/Migrations/3.0.0/AddAllowedSectionToAdmins.cs

[2020-06-18 08:37] TimGeyssens commented on #154
Odd, any js error happening?

[2020-06-18 09:16] TimGeyssens commented on #154
Ok I see seems to be caused by merging in the latest pr , will fix

[2020-06-18 09:37] AaronSadlerUK commented on #152
So this is a completely new install, the only plugin being UIOMatic.

As you can see this is installed via NuGet, nothing shows under the sections options for users to enable it, nor does it show anywhere in the backoffice

![image](https://user-images.githubusercontent.com/9937803/85004556-9a734600-b14f-11ea-8e7a-491c5df2830e.png)

![image](https://user-images.githubusercontent.com/9937803/850046

[2020-06-18 10:13] TimGeyssens commented on #154
Fixed in v3.0.9 that is currently being build... so just nuget upgrade once that is on nuget and it should work.

[2020-06-18 10:13] #154 closed, assigned to nobody

[2020-06-18 10:15] TimGeyssens commented on #77
Think this was part of pull request #151 , right @ProworksDevTeam ?

[2020-06-18 10:15] #77 closed

[2020-06-18 10:47] TimGeyssens commented on #152
Odd , section code seems to be ok, I'll check

[2020-06-18 11:00] TimGeyssens commented on #152
Just did a fresh install and works like it should...
![image](https://user-images.githubusercontent.com/2988648/85012586-85081700-b163-11ea-982c-d9dddd241a48.png)

Are you sure the ui o matic references are there?
![image](https://user-images.githubusercontent.com/2988648/85012688-acf77a80-b163-11ea-91c1-b6b8a956a715.png)

Maybe the nuget install didn't go ok?

[2020-06-18 11:07] AaronSadlerUK commented on #152
Strange, yes the reference is there.

I will try another clean install and report back shortly

[2020-06-18 11:09] TimGeyssens commented on #152
which v of umbraco are you running? I'm on latest 8.6.X

[2020-06-18 11:18] angryloner commented on #154
That's fixed it for me. Thanks for the speedy response and this great tool!

[2020-06-18 11:24] TimGeyssens commented on #105
Made a small change to make this happen, if no name is set it will try to go to sentence case from pascal case... (coming up in v3.10.0)

[2020-06-18 11:24] #105 closed, assigned to nobody

[2020-06-18 11:27] TimGeyssens commented on #139
Super late reply but this is possible by default, you can just add another ui o matic class and then use the event model to set a custom sql filter... check this example for event model uses to control the query http://www.nibble.be/?p=493

[2020-06-18 11:27] #139 closed, assigned to nobody

[2020-06-18 11:28] TimGeyssens commented on #126
Guessing this is due to the datatype editor that slides in on the doctype... try editing it on the datatype section, should work

[2020-06-18 11:28] #126 closed, assigned to nobody

[2020-06-18 11:45] TimGeyssens commented on #154
Awesome, thanks for confirming!

[2020-06-18 11:55] TimGeyssens commented on #116
Ok so just a custom field view? That shows a link?

[2020-06-18 11:57] TimGeyssens commented on #142
Closing this, seems like an old bug

[2020-06-18 11:57] #142 closed, assigned to nobody

[2020-06-18 12:02] AaronSadlerUK commented on #152
The current version is on 8.6.1

[2020-06-18 12:18] TimGeyssens commented on #152
Ok odd, let me know if it any different on a fresh install

[2020-06-18 12:19] #136 closed, assigned to nobody

[2020-06-18 12:20] TimGeyssens commented on #122
Would this be something, on the edit page of class A you can then add actions... https://github.com/TimGeyssens/UIOMatic/issues/116

[2020-06-18 12:23] TimGeyssens commented on #109
Hey pull request would still be appreciated

[2020-06-18 12:24] TimGeyssens commented on #104
Will have to see if this works with npoco now in v3

[2020-06-18 12:29] TimGeyssens commented on #100
@Killerkiwi2005 good idea, but not an easy task I think

[2020-06-18 14:55] TimGeyssens commented on #111
Fixed in upcoming v3.10.0

[2020-06-18 14:55] #111 closed, assigned to nobody

[2020-06-18 15:15] benjaminc commented on #77
If I'm understanding the issue right, yes, this should be possible now.

[2020-06-18 16:34] TimGeyssens commented on #77
@benjaminc ace!

[2020-06-18 18:17] Nicholas-Westby commented on #109
Man, I really had to dig to find the code I was working on (**checks watch**) 3 years and 4 months ago. No time for a pull request at the moment. However, here's the code in case you (or somebody else) want to integrate it (would probably be better to do via a setting, but this code didn't use that approach):

You'll need to ensure the JavaScript gets included in the back office, which I'm doing w

[2020-06-18 18:54] TimGeyssens commented on #109
Sweet, thanks, yeah been a while, just housekeeping a bit and seems the package is used way more than I thought

[2020-06-18 21:02] TimGeyssens commented on #83
Fixed in upcoming release
![image](https://user-images.githubusercontent.com/2988648/85071461-d0e4ab80-b1b7-11ea-98aa-a73dbddb27e6.png)

[2020-06-18 21:02] #83 closed, assigned to nobody

[2020-06-18 21:05] TimGeyssens commented on #104
Appears there is some more info about it now https://our.umbraco.com/forum/developers/extending-umbraco/59672-Combined-primary-keys-with-petapoco#comment-315428

[2020-06-18 21:50] AaronSadlerUK commented on #152
Ok so I finally managed to do a clean install.

Umbraco 8.6.2 with UIOMatic v3.0.9

Same as above.

The dependency setting for both is "Highest", I wonder if this could be the problem?

[2020-06-18 21:55] AaronSadlerUK commented on #152
I have pushed the install for your reference:

https://github.com/AaronSadlerUK/UIOMatic

[2020-06-18 22:10] TimGeyssens commented on #152
Thanks, I'll take a look tomorrow, might be... is the other project also colled UIOMatic? Maybe that conflicts some how...

[2020-06-18 22:12] AaronSadlerUK commented on #152
I never thought of that 😂

I'll try tomorrow with a differently named project

[2020-06-19 08:37] TimGeyssens commented on #152
ok , let me know how that goes

[2020-06-22 07:44] AaronSadlerUK commented on #152
Ok, so it seems that was the problem.

[2020-06-22 07:44] #152 closed, assigned to nobody

[2020-06-22 07:49] TimGeyssens commented on #152
Awesome, thanks for testing!

[2020-06-22 21:47] woodj5134 opened #155 "Error when creating new record with list editor"
I have 2 tables with a one-to-many relationship. I have configured the parent table to display its children in a listview control. This works fine but whenever I create a new parent record with UI-O-Matic I'm presented with the following error.  This only happens when I use a list editor

### Parent Table
[code]

### Child table
[code]

### Error

[code]

[2020-06-23 13:31] TimGeyssens commented on #155
Thanks for reporting, hmm been a while since I tested that... could you try adding the ignore attribute on that property? So [UIOMaticIgnoreFromListView]

[2020-06-23 13:32] TimGeyssens commented on #155
Ow wait scrap that, will test

[2020-06-23 13:52] TimGeyssens commented on #155
Could you add  [Ignore] to that property?

[2020-06-23 13:52] TimGeyssens commented on #155
that way npoco should ignore it when trying to save... think that is the error now...

[2020-06-23 13:54] TimGeyssens commented on #155
Let me know if that resolves the issue, cheers, Tim

[2020-06-23 14:11] woodj5134 commented on #155
Hi Tim, that didn't work unfortunately.
I suspected the error might be coming from a weird conversion

So I tried to rename the UIOMatic alias to an integer and the error went away.
![image](https://user-images.githubusercontent.com/16744786/85414115-98502380-b563-11ea-8383-7d36b73d4b7f.png)

Hope this helps. cheers, Jeff

[2020-06-23 14:43] TimGeyssens commented on #155
Ok didn't spot that in your code... but thanks for letting me know...

[2020-06-23 14:47] TimGeyssens commented on #155
What type is the column in the db? And mind posting the c# snippet of that property?

[2020-06-23 15:03] woodj5134 commented on #155
Columns in the db are (property table):

- Id (PK, int, not null)
- ReferenceNumber (nvarchar(255),not null)

(I've changed the UIOMatic alias back to "properties")
[code]

[2020-07-01 11:19] #155 closed, assigned to nobody

[2020-07-01 19:45] TimGeyssens opened #158 "V3 breaks if you rename umbraco dir"

[2020-07-01 19:47] #158 closed, assigned to nobody

[2020-07-01 21:03] Killerkiwi2005 commented on #86
I have this some where we stashed in localstorage.... I'll see if I can dig it out

[2020-07-01 21:17] Killerkiwi2005 commented on #86
Found it I don't have time to do a pull request atm but here's the basics from our v2 code if some one wants to complete it

https://nopaste.xyz/?d1fe67a01fd22b60#68kwMJMxW4VPFuxfZaxj21Bcx2G1hRR1RLGKQ8qKcVGZ

Note you could maybe change it to sessionStorage instead so its not saved long term

[2020-07-02 07:14] TimGeyssens commented on #86
@Killerkiwi2005 super will take a look, thanks for sharing

[2020-07-02 08:13] TimGeyssens commented on #86
Part of 3.0.14 :) thanks @Killerkiwi2005

[2020-07-02 08:13] #86 closed, assigned to nobody

[2020-07-02 08:16] pedroadaodev commented on #86
Thank you all!! 👍

[2020-07-07 07:19] TimGeyssens commented on #104
Hey, best thing would be to create a custom repo in this case... and handle the composite key stuff in there https://gist.github.com/TimGeyssens/cff7e3ea5a31849cc71407ba1b6b4886

[2020-07-07 07:20] #104 closed, assigned to nobody

[2020-07-08 18:38] PTCMAR2 opened #159 "Insert into a triggered view returns dbnull"
I am using UIOMatic to insert into a View with a trigger instead of insert. The record is inserted but I receive an error: "Object cannot be cast from DBNull to other types".

And the following details:

Exception Details System.InvalidCastException: Object cannot be cast from DBNull to other types. Stacktrace at System.DBNull.System.IConvertible.ToInt64(IFormatProvider provider) at System.Convert

[2020-07-15 08:12] TimGeyssens commented on #159
hey, do you have some more details? Like the view trigger, the poco? Errors seems to be Umbraco Core related (coming from Umbraco.Core.Persistence.Database.PocoColumn.ChangeType)

[2020-07-25 04:13] skartknet opened #160 "Error loading listview"
When loading the listview I get an error 'ui-o-matic list state restore failed => TypeError: Cannot read property 'itemsPerPage' of null' on the console.

The error comes from the list.controller.js:99 and it looks like it's trying to get an object from localStorage when it hasn't been saved yet. If I swap the logic on list.controller.js:56 to:

[code]

it seems to work, or at least I'm not gettin

[2020-07-27 11:08] skartknet opened #161 "Support Content Apps"
It would be great if the types supported Content Apps.

[2020-07-27 11:18] skartknet commented on #161
I have created a PR #162 But I need some help with it, it's not fully working.

[2020-07-29 13:45] TimGeyssens commented on #160
Ah ok, will check thanks for reporting!

[2020-07-29 13:48] TimGeyssens commented on #160
Fixed, version 3.0.15 is building now!

[2020-07-29 13:48] #160 closed, assigned to nobody

[2020-07-29 20:59] Killerkiwi2005 commented on #64
I've used ui-o-matic with azure blob storage by using UmbracoFileSystemProviders.Azure media files are then stored in azure instead of the local file system, this seems like a better option as you can have a file system provider that stores to a db as base64 instead

[2020-08-18 20:30] toliphant opened #165 "Pagination problem"
In your list.ontroller.js you added this little bit in there in the past couple months:

if (!firstLoad) {
loadState();
 } else {
saveState();
}

However, it seems to be messing with the pagination in list view. I removed the ! on firstLoad and it seems to work fine now.

[2020-08-19 15:18] TimGeyssens commented on #165
ok thanks for reporting, will check it out!

[2020-09-14 20:31] TimGeyssens opened #166 "Look into handsontable for the listview stuff"
https://github.com/handsontable/handsontable

[2020-09-15 06:15] Jogai commented on #166
I think this is going to have issues with the licence.

Alternatives:

- https://github.com/ag-grid/ag-grid (community is MIT licenced)
- https://github.com/fiduswriter/Simple-DataTables
- https://github.com/fooplugins/FooTable

[2020-09-15 06:54] TimGeyssens commented on #166
Ok will double check, but since UI-O-Matic is not commercial...

[2020-09-15 06:55] TimGeyssens commented on #166
From what I can see: https://github.com/handsontable/handsontable/blob/master/LICENSE.txt it is ok to use the non-commercial-license

[2020-09-15 06:57] TimGeyssens commented on #166
Stuff like https://github.com/pyexcel-webwares/django-excel and https://github.com/methnen/m-chart also use it ...

[2020-09-15 08:10] Jogai commented on #166
True, but in the end umbraco developers will deliver it along with an umbraco setup to clients, and then you need the saas licence since that says "In other words, you need this license if your product is made available to End Users other than your employees." (the developer licence is "internal use only")

m-chart is using an older version, since 7 its not MIT anymore. This part of the readme was

[2020-09-15 09:00] TimGeyssens commented on #166
ok thanks for the info :)

[2020-09-29 17:37] benjaminc commented on #165
I found the same thing.  I'll submit a PR to fix this in just a minute

[2020-09-29 18:13] TimGeyssens commented on #165
@benjaminc sweet, thanks!

[2020-09-29 18:14] #165 closed, assigned to nobody

[2020-09-29 18:14] TimGeyssens commented on #165
fixes with pr #167

[2020-10-01 19:23] skttl opened #169 "Docs for making custom sections"
It seems like it's possible to do custom sections, in stead of the default UI-O-Matic one (#77). But how is it done?

Would love to see this in the docs :)

[2020-10-02 21:28] #70 closed

[2020-10-02 21:56] TimGeyssens commented on #169
good call, yes I would also like to know :p

[2020-10-02 21:56] TimGeyssens commented on #161
Pull request is completed now... just needs some docs / info :)

[2020-10-02 23:43] skartknet commented on #161
awesome. Yes, I forgot the docs 😋 , I'll put something together.

[2020-10-03 08:39] skttl commented on #169
@ProWorksDevTeam @benjaminc can you help?

[2020-10-04 18:55] TimGeyssens commented on #161
fixed by @skartknet with pr #162 :) coming up in the hacktober release!

[2020-10-05 18:14] benjaminc commented on #169
@skttl @TimGeyssens I believe PR #170 should cover it, but let me know if I missed anything.

[2020-10-05 18:28] TimGeyssens commented on #169
Looks good thanks! Boom! Pr 3 for hacktoberfest

[2020-10-05 18:32] #169 closed, assigned to nobody

[2020-10-05 19:11] #161 closed, assigned to nobody

[2020-10-05 19:12] TimGeyssens commented on #169
Also part of the gitbook docs now :) https://timgeyssens.gitbook.io/ui-o-matic/

[2020-10-05 19:54] benjaminc commented on #169
I don't see it at https://timgeyssens.gitbook.io/ui-o-matic/12.advanced.  Does it take a bit to update, or did I do something wrong in how I coded it?

[2020-10-06 08:40] TimGeyssens commented on #169
No no, I moved it to a separate page :) https://timgeyssens.gitbook.io/ui-o-matic/custom-sections thanks again @benjaminc !

[2020-10-26 09:07] #116 closed, assigned to nobody

[2020-11-18 09:58] TimGeyssens opened #173 "Test from custom repo"
test from custom repo

[2020-11-18 09:58] #173 closed, assigned to nobody

[2020-11-25 08:33] TimGeyssens commented on #122
since version 3.1 there is a link view you can use... that would allow to have that extra custom link

[2020-11-25 08:33] #122 closed, assigned to nobody

[2020-12-10 12:04] HevinPatel opened #174 "UI-O-Matic Paging not working in 8.9.1"
Hello,

We have used Umbraco 8.9.1 version, we used UI-O-Matic for the custom modules in backoffice, but we face issue in list view of the modules as mentioned below.

1) Paging not working
2) Filters not working

But if we clear the browser cookie/cache then it start working, but again if we move to any other Umbracode backoffice module and come back on the UI-O-Matic modules then it does not wor

[2020-12-15 09:58] chrden commented on #174
Also confirmed paging and filtering working on Umbraco 8.6.4 with UIOMatic 3.1.1.

Tried with existing Chrome tab and Chrome Incognito tab to test the clear cookie/cache behaviour as mentioned about but both produced the same result.

If I use filter or paging, the results refresh always displays page 1

Let me know if you need any more info

[2020-12-15 10:15] HevinPatel commented on #174
Here are the steps I have followed.

Created blank project with Umbraco 8.9.1 and Installed nuget packages for UI-O-Matic 3.1.1

Then created Model which suits to UI-O-Matic to show the records in List view and not as a tree.

Inserted few records to test the Paging and find that the paging is not working, then clear cache and cookie, so the system logged me out and ask for login again, After logi

[2020-12-15 11:19] HevinPatel commented on #174
Additionally, I have tried the same thing with UIOMatic 8.6.4 and still facing the same issue, could you please provide me the project you have created and verified with the db backup so that we can try to review it at our end once with that project to compare and confirm nothing is missing in the project we have developed.

As for us the same issue is there in any browser (with or without incogni

[2020-12-15 18:35] pedrocruzfever commented on #174
Same here with Umbraco 8.9.1 and UI-O-Matic 3.1.1, with or without incognito mode, even going directly to the ui-o-matic list page.

![image](https://user-images.githubusercontent.com/48131197/102257440-a5dbda00-3f04-11eb-8526-646d75d1d066.png)

The parameters are always the same when I try to go to another page or try to search something (pageNumber:1 and searchTerm:[empty] )

thanks

[2020-12-16 03:38] HevinPatel commented on #174
@pedrocruzfever I just want to confirm so you are having the same issues as me or it is working fine at your end.

As for me it is not working as expected.

[2020-12-16 09:30] pedrocruzfever commented on #174
Hello @HevinPatel I'm having the exact same issues as you, but cleaning the cache/cookies won't solve me the problem

[2020-12-17 03:50] HevinPatel commented on #174
@pedrocruzfever  it will work if you clear cookies/cache but not exactly as required. Follow below steps for the same.

Login to the Umbraco Backoffice, go to UIOMatic module, try to navigate from one page to another page in List view, it will not work. But except going anywhere else, clear your browser cache/cookies... once done try to navigate on other page from paging, it will log you out from

[2020-12-17 19:46] TimGeyssens commented on #174
Hey all, I'll have some time next week to fix the issue... it's probably due to some storage we introduced (that remembers the filter)... so should be an easy fix

[2020-12-17 19:48] TimGeyssens commented on #174
So in this file https://github.com/TimGeyssens/UIOMatic/blob/v3/src/UIOMatic/Web/UI/App_Plugins/UIOMatic/backoffice/uiomatic/list.controller.js

[2020-12-21 03:55] HevinPatel commented on #174
Hi @TimGeyssens,

Please let us know once you apply fix for the issue.

Thanks

[2020-12-25 04:08] HevinPatel commented on #174
Hi @TimGeyssens

Have you looked in to the issue and possible fix? As we are planning to use the package in one of our project but we can't do that until we have the issue fixed.

Thanks

[2020-12-30 12:46] TimGeyssens commented on #174
not yet... will try this year ;)

[2020-12-30 16:23] AaronSadlerUK opened #175 "ItemName not working in backoffice"
I have set the itemName within the poco class, however in the backoffice it is showing the class name instead.

This is with Umbraco 8.10.0

![image](https://user-images.githubusercontent.com/9937803/103366720-444a6c80-4abb-11eb-8a69-9bc104eae6d9.png)
![image](https://user-images.githubusercontent.com/9937803/103366735-4d3b3e00-4abb-11eb-8902-e87cd6b81f30.png)

[2021-01-07 05:14] HevinPatel commented on #174
@TimGeyssens Happy New Year, We are expecting some news with updates if you got time to look into it, as we have already started using the package in one of our project, but if the issue does not resolve then it will be a big disaster for us.

[2021-01-07 07:58] TimGeyssens commented on #174
Thanks yes will look shortly ... also need to package in a project so...

[2021-01-12 10:45] TimGeyssens commented on #175
is that in the tree? item name isn't ued in the tree, for the tree you need to implement the tostring method

[2021-01-12 10:46] TimGeyssens commented on #175
As noted here https://timgeyssens.gitbook.io/ui-o-matic/untitled#override-the-tostring-method

[2021-01-12 10:46] #175 closed, assigned to nobody

[2021-01-12 10:46] AaronSadlerUK commented on #175
Thanks @TimGeyssens!

[2021-01-18 13:25] HevinPatel commented on #174
@TimGeyssens Please give some good news with the updates, we are still waiting for the updates and as mentioned we have already started using the package in one of our project, so please give us some updates on it as soon as possible.

[2021-01-18 14:25] TimGeyssens commented on #174
Not yet @HevinPatel , if you want to have it fixed immedialty you can pay for the work? How much time does the tool save you? How much budget? How much are you willing to pay to have it fixed? Cheers, Tim

[2021-01-27 17:54] pedrocruzfever commented on #174
@HevinPatel try using the previous version of list.controller.js, before the development of the state/storage functionality

https://raw.githubusercontent.com/TimGeyssens/UIOMatic/c8d20e9c5ed7fdc4410321c28a29c5e2ce9cd099/src/UIOMatic/Web/UI/App_Plugins/UIOMatic/backoffice/uiomatic/list.controller.js

I will also try to take a look at the latest version to see if am able to fix it....

[2021-02-03 10:30] HevinPatel commented on #174
@pedrocruzfever thanks for the help,

@pedrocruzfever & @TimGeyssens could you please let us know if there is possibility to store the Admin login user ID and current date in UIOMatic table, if so then please let us know how.

[2021-02-03 10:35] TimGeyssens commented on #174
of course you can do that,  look at the docs for event model https://timgeyssens.gitbook.io/ui-o-matic/09.eventmodel

[2021-02-03 10:45] HevinPatel commented on #174
@TimGeyssens  thanks for the link, is there any example code link that we can refer for the same.

[2021-02-04 09:14] TimGeyssens commented on #174
Sure, this is for v7 but should be familiar http://www.nibble.be/?p=497

[2021-03-10 16:25] tomschimmel commented on #174
@TimGeyssens, @HevinPatel and @pedrocruzfever, I've fixed this issue and created a pull request for it > https://github.com/TimGeyssens/UIOMatic/pull/178

[2021-03-11 18:44] Vertigo093i commented on #174
Neither filtering nor sorting nor searching (nor paging - haven't able to verify) doesn't work.

[2021-03-11 20:35] tomschimmel commented on #174
@Vertigo093i have you pulled the latest changes from the v3 branch including the changes from the pending pull request? The changes haven't been merged yet by the owner of this repository so I guess that's why it's not working for you. Otherwise if you have the changes, try editing the version value in your clientdependency.config file. That's should clear the cache.

[2021-03-12 07:39] Vertigo093i commented on #174
@fungybytes I'm using the NuGet version of the plugin. Therefore the short answer is "no".
I've also tried with browser's DevTools being opened which should effectively disable caching.

[2021-03-18 21:44] Vertigo093i commented on #174
@fungybytes I've tried your changes from the PR.
Paging, sorting and searching both do work while the filtering still doesn't.

/cc @TimGeyssens

[2021-03-24 09:24] TimGeyssens commented on #174
fixed in pr from @fungybytes

[2021-03-24 09:24] #174 closed, assigned to nobody

[2021-04-28 10:15] Vertigo093i opened #181 "Summary dashboard is broken after localization was introduced"
As denoted here: https://github.com/TimGeyssens/UIOMatic/pull/179#pullrequestreview-646873427

/cc @TomSchimmel

[2021-04-28 10:28] TimGeyssens commented on #181
Oops, if you create a pull request I'll merge

[2021-04-28 20:04] Vertigo093i commented on #181
@TimGeyssens?

[2021-04-29 07:24] #181 closed, assigned to nobody

[2021-06-29 12:41] Rollpan89 opened #184 "HTTP error 417 / Search not working"
Hey guys!

I've been having trouble with the searchbar with my UIOMaticFields. I keep getting no results no matter what I search for. The filters work as intended, but the searchbar is important.

So i dug around and found that the getPaged() function returns this URL: `/umbraco/backoffice/UIOMatic/Object/GetPaged?typeAlias=people&itemsPerPage=40&pageNumber=1&sortColumn=&sortOrder=asc&filters=&sea

[2021-06-30 16:45] benjaminc opened #185 "Race condition on valuesLoaded in property editors"
I believe a race condition is occurring with property editors.  The symptom is that occasionally a property editor won't display the value properly.  Refreshing, or browsing between nodes, causes it to show up, but then sporadically it will stop showing up.

Troubleshooting it when it wasn't showing, I found that the init() method of the property editor wasn't firing properly.  After some more dig

[2021-06-30 20:44] benjaminc opened #187 "Properties duplicated in similar groups"
If you have two tab groups, where the name of one is a substring of the name of a second (i.e. the first is "Info" and the second is "More Information"), then the properties of the second tab group will appear twice.  The will appear intermingled with the properties of the first tab group, and they will appear on their own tab group.

[2021-07-07 07:35] #187 closed, assigned to nobody

[2021-07-14 08:59] #185 closed, assigned to nobody

[2021-07-31 00:04] benjaminc opened #189 "Allow for custom menu items"
When you right-click on a node in the back-office, particularly a folder node, I'd like the menu that shows up to include additional items defined in my project, just as I can with nodes in other parts of Umbraco.

[2021-08-04 14:40] Rollpan89 commented on #184
An update: the filter no longer works as well. The list updates when selecting a filter, but no changes in the list is seen. Seems to be the same issue as described above.

[2021-08-16 10:44] TimGeyssens commented on #189
merged in #190

[2021-08-16 10:44] #189 closed, assigned to nobody

[2021-08-16 11:58] TimGeyssens commented on #189
new version is out! thanks @benjaminc

[2021-08-16 11:58] TimGeyssens commented on #184
Hey @Rollpan89 which version are you using? mind updating to the latest?

[2021-08-17 13:44] Rollpan89 commented on #184
Hey @TimGeyssens I've updated to version 3.1.14 and I'm still having trouble with the search function.

The error with the filters seems to have moved to my "readable" fields (key value pair) where it doesn't recognize my ignored field.

E.g for the filter issue:
[code]

The issue with the search function seems to be the same though.

[2021-08-18 08:09] TimGeyssens commented on #184
yeah you can't use UIOMaticListViewFilter on a non db field... since it will build a db query... and it isn't a column...

[2021-08-18 08:09] #184 closed, assigned to nobody

[2021-08-18 11:37] Rollpan89 commented on #184
Alright! That makes sense!

However, the main issue still persists with the search function I'm afraid.

[2021-08-18 12:11] TimGeyssens commented on #184
odd, in all browers?

[2021-08-18 12:32] Rollpan89 commented on #184
Yeah. I've tried all browsers. The values I'm searching for is all in the db

[2021-08-19 08:54] Rollpan89 commented on #184
An update: since the project is near its deadline we decided to override all the filtering and search functionality with our own logic, so the issue is no longer critical. I guess the issue was local for our environment so no further action needed for our part in this ticket.

[2021-09-22 02:55] merly-cortez opened #192 "Update item not able to select the selected value for dropdown field"
Hi,

Been searching the documentation and I believe have set up my column correctly. But opening the Update Item form doesn't select the selected item in the dropdown correctly. Please see as in attached.

Here's my column definition:
        [UIOMaticListViewField(Name = "Suburb", View = UIOMatic.Constants.FieldViews.Label)]
        [UIOMaticField(Name = "Suburb", Description = "Select the suburb

[2021-09-26 22:41] marciogoularte opened #193 "Update umbraco 9"
Hi,I did an upgrade to umbraco 9. It's working very well. But I couldn't make a pull request. How can I proceed?

![matic](https://user-images.githubusercontent.com/215987/134827439-03ba17d5-75c9-4519-9869-1c28c80a4ae9.gif)

[2021-10-04 13:23] TimGeyssens commented on #193
wow sweet @marciogoularte ! well did you make a fork on github? Then you should just be able to create a pull request? https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2021-10-04 13:29] TimGeyssens commented on #193
alternatively you can also send me the files and I can setup a new branch

[2021-10-12 13:42] TimGeyssens commented on #193
@marciogoularte ? Let me know how I can help :)

[2021-10-12 16:50] marciogoularte commented on #193
Hi, i made a pull request. As you may know, Umbraco v9 everything is by DI. We no longer have `Umbraco.Core.Composing.Current`.  UIOMatic uses static classes using Umbraco v8 `Current`, I had to make a service locator. But I believe that temporary, we can improve this

[2021-10-14 07:05] TimGeyssens commented on #193
Sweeeeet! Thank you so much. Just need to see how I can merge to a new branch. @marciogoularte

[2021-10-22 11:31] TimGeyssens commented on #193
merged to a new branch @marciogoularte , now just need to figure out why the automated build doesn't work

[2021-10-26 09:02] sbosell commented on #193
Looking forward to seeing this released!

[2021-11-23 08:20] TimGeyssens commented on #193
@marciogoularte mananaged to get the appveyor build working https://www.nuget.org/packages/Nibble.Umbraco.UIOMatic/

[2021-11-23 17:45] TimGeyssens commented on #193
not sure if the nuget package needs to change...

[2021-11-24 16:42] marciogoularte commented on #193
Hi @TimGeyssens . I'm not sure either

[2021-12-15 21:12] TimGeyssens commented on #193
yeah need to look into it, doesn't seem to do the correct stuff...

[2022-01-02 20:18] harvzor commented on #193
I'm trying it out now. I had the issue:

[code]

Adding:

[code]

In my `Startup.ConfigureServices` method seemed to help.

## Update

I'm trying to upgrade to Umbraco v9 but the site was having a strange issue:

[code]

My project structure is like:

- Web
  - Depends on Nibble.Umbraco.UIOMatic
- Core
  - Depends on Nibble.Umbraco.UIOMatic.Core

Seems that `Nibble.Umbraco.UIOMatic.Core` depends o

[2022-01-03 08:36] TimGeyssens commented on #193
thanks @Harvzor , yeah the nuget package needs some work, thanks for letting me know

[2022-01-17 23:12] toliphant commented on #192
@merly-cortez I was having the same issue. I adjusted the dropdown view and changed value to ng-value around the ng-repeat. My selected options are now showing up just fine.

[code]

[2022-05-17 07:45] davidsandstrom commented on #193
What do i have to do to get this working?
Registered .AddUIOMatic() in startup but now i get a null reference exception in /umbraco/ServerVariables:
"NullReferenceException: Object reference not set to an instance of an object.
UIOMatic.Web.UIOMaticServerVariablesHandler.Handle(ServerVariablesParsingNotification notification)" in backoffice and a bunch of errors from angular.

[2022-06-13 13:43] mmadukah opened #196 "Save data to model.value instead of property.value so that we can use existing property editors"
My team is upgrading an application from Umbraco 7 to 8. We currently use Fluidity to perform CRUD operations on our custom tables. Unfortunately, this doesn't appear to work with Umbraco 8.

We have decided to migrate from Fluidity to UIOMatic but we are noticing that it doesn't seem to have the simple support for Umbraco property editors and our custom controls. I believe that the reason for thi

[2022-06-16 13:52] Lamborobin opened #197 "Add UIOMatic to Umbraco 9"
Hi im currently trying to add UIOMatic version 4.0.3 to my Umbraco 9 project (9.5.2)
![image](https://user-images.githubusercontent.com/66623343/174083694-2054f864-7451-4e58-8f6b-8ea42d66d2e7.png)

I don't see any helpful links right now on the web to solve the errors.

I've tried 2 different things either by adding .AddUIOMatic() method to umbraco builder in the Startup.cs or add UIOMaticHelper a

[2022-07-05 08:50] TimGeyssens commented on #197
@marciogoularte any pointers?

[2022-07-05 08:51] TimGeyssens commented on #196
sure would be up for a pullrequest

[2022-07-05 08:52] TimGeyssens commented on #193
@marciogoularte any pointers?

[2022-07-17 23:32] marciogoularte commented on #197
yes. I did a test and got the same error.
Config here is null

https://github.com/TimGeyssens/UIOMatic/blob/1cc43157965364c6708a969be08f3a94772f03fd/src/UIOMatic/Web/UIOMaticServerVariablesHandler.cs#L61

probably don't have UIOMatic config in appsettings.json

But I no longer have the example of the project I sent you

[2022-08-03 08:46] teusch opened #199 "links to nibble.be not working on https://github.com/TimGeyssens/UIOMatic/blob/v3/docs/14.FurtherReading.md"
The links to nibble.be on https://github.com/TimGeyssens/UIOMatic/blob/v3/docs/14.FurtherReading.md don't seem to be working:

- [UI-O-Matic V2 and custom repositories](http://www.nibble.be/?p=537)
- [Extending UI-O-Matic V2 With custom List View filters](http://www.nibble.be/?p=525)
- [Extending UI-O-Matic v2 with custom List Actions ](http://www.nibble.be/?p=520)
- [Using UI-O-Matic V2 as an ent

[2022-08-03 23:05] dataworking commented on #197
First a caveat - I just started on a site migration of a v7 project to 9 and haven't got my UIOMatic working completely yet, but have got past that error message you are seeing. You are going to need the following config section in your appsettings.json:
`  "UIOMatic": {
    "PluginFolder": "test",
    "Settings": {
      "defaultListViewPageSize": "10",
      "rteFieldEditorButtons": "\"preview\"

[2022-08-03 23:28] dataworking commented on #193
That will be missing config elements in appsettings.json - I commented in more detail in https://github.com/TimGeyssens/UIOMatic/issues/197

[2022-08-04 12:15] Lamborobin commented on #197
Hi @dataworking

Thank you for the reply. Do you know if you got this to work. Let me know if I implemented the code at the right place like you did or if i missed something:

![image](https://user-images.githubusercontent.com/66623343/182843146-468a87da-37f2-4855-9f81-46852cb47c67.png)

![image](https://user-images.githubusercontent.com/66623343/182843193-41950ac2-2372-453f-9067-13d9a1c861f3.png)

[2022-08-04 12:53] dataworking commented on #197
Hi, are you trying to get it to work against an Umbraco 7/8 project you are upgrading or against a new project? I noticed that some of the migrations code is currently commented out in the source code, so it might not support creating the necessary POCOs at the moment. Over the next 2-3 days I will be attempting to get my existing U7 project to work as an upgrade. Assuming that works ok, I will se

[2022-08-04 15:36] Lamborobin commented on #197
@dataworking Hi, we want to do that actually but this project i made as an example and its just pure Umbraco 9 here and UIOMatic v4

[2022-08-04 21:43] dataworking commented on #197
I think more work is required to get the source to persist new POCOs to the db (ie create the tables), but with existing tables from an upgrade it is working:

![image](https://user-images.githubusercontent.com/24825941/182954237-94fe7624-a962-4828-9e3f-dd16a0ea487d.png)

I also added a bit of temporary code to my UIOMaticHelper.cs Ln 110 as I don't want the default Person type considered, but I a

[2022-08-11 13:53] Lamborobin commented on #197
@dataworking @TimGeyssens  Hi again. Im not quite sure what that line of code will do in order for uiomatic to work. We dont need to focus on the upgrade from Umb 7 to 9 but rather just see a brand new project with UIOMatic version 4.0.3 and Umbraco 9 (9.5.2). Should be some documentation if its not working at startup i assume? :)

[2022-09-05 12:50] TimGeyssens commented on #199
yeah site is down but should still be available on https://archive.org/web/

[2022-09-05 13:12] patrickdemooij9 commented on #199
@TimGeyssens would it be an idea to move those articles to the documentation?

[2022-09-05 13:13] TimGeyssens commented on #199
@patrickdemooij9 yes! good idea

[2022-09-07 14:58] TimGeyssens commented on #197
could you try the latest version 4.1.0? this one adds some default config

[2022-09-07 15:00] TimGeyssens commented on #193
version 4.1.0 adds default config

[2022-09-07 15:00] #193 closed, assigned to nobody

[2022-09-11 13:01] TimGeyssens commented on #196
possible in v10

[2022-09-11 13:01] #196 closed, assigned to nobody

[2022-09-11 13:02] TimGeyssens commented on #197
and v5 on umbraco v10

[2022-09-11 13:02] #197 closed, assigned to nobody

[2022-09-12 11:17] TimGeyssens commented on #199
for the time being I just updated the links to archived pages

[2022-09-12 11:17] #199 closed, assigned to nobody

[2022-09-12 13:41] patrickdemooij9 opened #206 "Razor class library"
Recently done this on my SeoToolkit package and Umbraco also does this. Would be nice to move all the static assets to a razor class library. We can use the changes in SeoToolkit (https://github.com/patrickdemooij9/SeoToolkit.Umbraco/pull/102) as a guideline. Mostly just adding some package manifest in code and some tags to the csproj files.

[2022-09-13 07:29] Lamborobin commented on #197
Hi @TimGeyssens, It seem to work fine now with appearing correctly in the menu and in the list after the installation of UIOMatic v5 and Umbraco v10.
The only more issue i found is that the App_Plugins folder was missing. I tried the old App_Plugins i used on other previous projects but seem to generate some errors. Can you provide with the complete App_Plugins folder for the new v5 UIOMatic, perh

[2022-09-13 07:31] patrickdemooij9 commented on #197
Hi @Lamborobin,
That is strange. The App_Plugins folder should be copied with the package. I'll take a look for you later today on what is happening there.

[2022-09-13 07:42] Lamborobin commented on #197
Hi @patrickdemooij9. Thank you so much! The scenario is:

- Create a new vs project.
- Install the Umbraco 10 in VS 2022.
- Install UIOMatic v5 in the NuGet package manager.
- Create the **People** class from the docs []( https://uiomatic.readthedocs.io/)
- Complete the installation of Umbraco with a local db.
- Add the **People** table in the local db.
- Debug and try create new person

You shoul

[2022-09-13 07:45] #192 closed, assigned to nobody

[2022-09-14 11:33] #206 closed, assigned to nobody

[2022-09-14 13:20] patrickdemooij9 commented on #197
@Lamborobin
This should now be fixed in the latest release (https://github.com/TimGeyssens/UIOMatic/releases/tag/5.1.0). Give it a try and see if this also works for you!

[2022-09-15 07:40] Lamborobin commented on #197
That worked fantastic thank you @patrickdemooij9 for the new version it works perfectly so far! Ive tried CRUD and do alot of small stuff and seem to work as expected. Will get back if i see any errors with this version :)

[2022-09-19 10:51] TimGeyssens commented on #109
in v5 you can just point it to existing property editors... (since storing model.value)so should also take care of this...

[2022-09-19 10:51] #109 closed, assigned to nobody

[2022-11-01 00:36] kudecha opened #211 "Nibble.Umbraco.UIOMatic v5.1.0 Filter and Search not working"
Hi there,

I am using Nibble.Umbraco.UIOMatic v5.1.0 on Umbraco v10.3.1.

The utility works as expected while creating data in Umbraco 'UI-O-Matic' section.
The list shows 10 items per page and retrieves correct data and no of items counter on changing the selected page.

However, applying filter on any integer column or applying search terms always returns with no result.
If I try to apply filter

[2022-11-02 11:25] patrickdemooij9 commented on #211
Hi @kudecha

Thank you for the report. I'll see if I can take a look at this somewhere this week. It seems like you have already done some research, so that is already great. Thank you!

Kind regards,
Patrick

[2022-11-18 10:40] TimGeyssens opened #212 "Sorting on a column that has a space in the name not working (v5)"
Ends up in a sql error

Probably just need to make sure the sql statement wraps the sort in brackets []

[2022-11-23 13:52] TimGeyssens commented on #211
fixed in 5.1.2, thanks for the detailed bug report

[2022-11-23 13:52] #211 closed, assigned to nobody

[2022-11-23 13:52] TimGeyssens commented on #212
fixed in 5.1.1

[2022-11-23 13:52] #212 closed, assigned to nobody